#banner {
    height: 46vw;
    background-image: url(../img/background_aktualitates.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
#news{
    padding-top: 70px;
    padding-bottom: 83px;
}
.capture_aktualitates{
    position: absolute;
    margin-top: 230px;
    margin-left: 12vw;
    z-index: 2;
    width: 38%;
}
.capture_aktualitates h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_aktualitates p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.capture_aktualitates span {
    color: #2cc654;
    line-height: 3vw;
}
.capture_aktualitates a{
    cursor: pointer;
    font-size: 11px;
}
.capture_aktualitates_2{
    display: none;
    position: absolute;
    z-index: 2;
    top: 10vw;
    right: 10vw;
}
.capture_aktualitates_2 h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_aktualitates_2 p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}
#pagenav {
    margin: auto;
    width: 20%;
    font-size: 27px;
    color: rgb(159, 159, 159);
    background-color: white;
}

#pagenav .active {
    font-size: 3vw;
    color: #2cc654;
    background-color: white;
}
.wrap ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-wrap: wrap;
}
.wrap li {
    width: 38%;
    margin-left: 4vw;
    margin-right: 4vw;
}
.cont_head {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: rgb(88, 88, 88);
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1.6vw;
    margin-top: 27px;
    height: 83px;
    cursor: pointer
}
.wrap .cont_head:hover {
    color: #07cd60
}
.wrap #content-date a{
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: rgba(88, 88, 88, 0.5);
    font-weight: bolder;
    text-align: left;
    margin: 0;
    margin-top: 6px;
    position: absolute;
    margin-left: -5vw;
}
.cont_text {
    font-size: 11px;
    font-family: "Poppins";
    color: rgb(159, 159, 159);
    line-height: 1.2vw;
    text-align: left;
    margin: 0;
}
.wrap div h1 {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: rgb(88, 88, 88);
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1.6vw;
    margin-top: 27px;
    height: 70px;
}
.wrap div h1:hover{
    color: #2cc654;
    cursor: pointer;
}
.wrap div h2 {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: rgba(88, 88, 88, 0.5);
    font-weight: bolder;
    text-align: left;
    margin: 0;
    position: absolute;
    padding-top: 1.8vw;
    margin-left: -5vw;
}
.wrap div p {
    font-size: 11px;
    font-family: "Poppins";
    color: rgb(159, 159, 159);
    line-height: 1.2vw;
    text-align: left;
    margin: 0;
}
#news h5{
    margin: 0;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    color: rgb(159, 159, 159);
    font-weight: bold;
    margin-left: 19%;
}
#news_block{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 41vw;
}
.wrap a{
    font-size: unset;
    color: unset;
    line-height: unset;
    margin: unset;
    padding-bottom: unset;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
#green-bt{
    padding-bottom: 4vw;
    width: 60%;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
#green-bt button{
    cursor: pointer;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding: 0.5vw;
}
#green-bt button:hover{
    color: white;
    background-color: #2cc654;
}
.green-bt1{}
.green-bt2{
    display: -webkit-flex;
    display: flex;
}
.capture_news_mobile{
    display: none;
}
.news-content {
  display: none !important;
}

#pagenave{
    display: flex;
    flex-wrap: wrap;
}

.paginationjs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 auto;
}

.paginationjs-prev, .paginationjs-next  {
    border-radius: 50%;
    width: calc(0.5vw + 0.5vw) !important;
    margin: 0 calc(10px + 0.5vw) !important;
    background-color: #39cf60;
    opacity: 0.5;
}

.J-paginationjs-next, .J-paginationjs-previous {
    background-color: rgb(234, 234, 234) !important;
}


@media screen and (max-width: 900px){
    #pagenav {
        margin: auto;
        width: 20%;
        font-size: 27px;
        color: rgb(159, 159, 159);
        background-color: white;
    }

    #pagenav .active {
        font-size: 3vw;
        color: #2cc654;
        background-color: white;
    }
    .capture_aktualitates {
        position: absolute;
        width: 77%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        top: 50vw;
    }
    .capture_aktualitates h2{
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 3vw;
    }
    .capture_aktualitates p {
        display:none;
        font-size: 3.2vw;
        line-height: 1.2;
        text-align: justify;
    }
    .capture_news_mobile{
        display: block;
        margin-bottom: 10vw;
    }
    .capture_news_mobile p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;

        margin: 0;
        font-size: 3vw;
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        line-height: 1.3;
        text-align: justify;
        margin-bottom: 27px;
    }
    #news h5 {
        margin-left: 0;
        text-align: center;
        margin-bottom: 70px;
        font-size: 70px
    }
    .wrap li {
        width: 100%;
        margin: auto;
        margin-left: 15%;
    }
    .wrap .cont_head {
        font-size: 3.5vw;
        line-height: 1.5;
        margin-top: 0;
        height: unset;
        margin-bottom: 27px;
    }
    .wrap #content-date a {
        font-size: 3vw;
        margin-top: 6px;
        margin-left: -10vw;
    }
    .wrap .cont_text {
        font-size: 2.5vw;
        line-height: 1.5;
        margin-bottom: 70px;
    }
    .wrap div h1 {
        font-size: 3.5vw;
        line-height: 1.5;
        margin-top: 0;
        height: unset;
        margin-bottom: 27px;
    }
    .wrap div h2 {
        font-size: 3vw;
        margin-left: -10vw;
    }
    .wrap div p {
        font-size: 2.5vw;
        line-height: 1.5;
        margin-bottom: 70px;
    }
    #partners{
        display:none !important
    }
    #green-bt {
        padding-bottom: 4vw;
        width: 70%;
        margin: auto;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .green-bt2 {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }
    #green-bt button {
        cursor: pointer;
        font-size: 4vw;
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        padding: 17px;
        margin: 3vw;
        border: 1px solid rgba(0,0,0,0.4);
    }
}