#banner {
    height: 46vw;
    background-image: url(../img/background_dalibskolas.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#partners{
    display:none !important;
}
.skolotaji #banner{
    background-image: url(../img/Rectangle1.jpg) !important;
}
#dalibskolas-skolas #banner{
    background-image: url(../img/Rectanglea1.jpg) !important;
}
.skolotaji #quote{
    background-image: url(../img/Layer820.jpg) !important;
}
#dalibskolas-skolas #quote{
    background-image: url(../img/4943831_HaPKNN.jpg) !important;
}
.capture{display:none;}
#buttons{
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 25vw;
    width: 100%;
    justify-content: center;
}
#buttons button{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 13px;
    padding: 0.5vw 13px;
    margin: 13px;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}
#buttons button:hover{
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}
#dalibskolas_content-2{
    padding-top: 13px;
    padding-bottom: 83px;
}
#map{
    width: 70%;
    margin: auto;
    height: 30vw;
}
.skolas{
    font-family: "Poppins", sans-serif;
    margin-top:20px;
}
.skolas h1{
    margin: 13px;
    font-size: 15px;
    color: rgb(0,0,0);
    line-height: 4;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}
.skolas .flextable{
    display: -webkit-flex;
    display: flex;
    width: 60%;
    margin: auto;
    font-size: 8px;
}
.skolas .flextable p{
    margin: 0vw;
    color: rgb(0,0,0);
    line-height: 11px;
    font-weight: 400;
}
#buttons a{
    font-size: unset;
    font-family: unset;
    color: unset;
    line-height: unset;
    margin: unset;
    padding-bottom: unset;
    cursor: pointer;
}

.capture_dalibskolas{
    position: absolute;
    margin-top: 230px;
    margin-left: 12vw;
    z-index: 2;
    width: 38%;
}
.capture_dalibskolas h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_dalibskolas p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
#top-bt{
    display: -webkit-flex;
    display: flex;
}
#top-bt p{
    width: 11vw;
    margin: 13px;
}
#top-bt p span{
    color: white;
    font-size: 8px;
    margin: 0;
    line-height: 1.5;
}
.dalibskolas_content-1{
    padding-top: 27px;
    padding-bottom: 27px;
    width: 70%;
    margin: auto;
}
.dalibskolas_content-1 h3{
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 15px;
}
.wrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.wrapped{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: 138px;
    align-items: center;
}
.wrapped div, .wrapped1 div{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.wrapped:hover, .wrapped1:hover{
    background-color: white;
}
.wrapped h1, .wrapped1 h1{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1.6vw;
    margin-bottom: 0.2vw;
}
.wrapped p, .wrapped1 p{
    font-size: 12px;
    font-family: "Poppins";
    color: black;
    line-height: 21px;
    text-align: justify;
    margin: 0;
    padding-bottom: 0.5vw;
}
.wrapped_text a,.one-flex a{
  color:#24bc4b;
  font-size:13px;
}
.wrapped span, .wrapped1 span{
    font-size: 8px;
}
.project_logo{
    width: 15vw;
}
.logo1, .logo2, .logo3, .logo4{
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-position-x: 50%;
    background-size: 40%;
    background-position-y: 50%;
    height: 100%;
}
.logo5, .logo6, .logo7{
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-position-x: 50%;
    background-size: 70%;
    background-position-y: 50%;
    height: 100%;
}
.wrapped_text{
    width: 90%;
    padding: 17px;
    margin:0 auto;
    padding-top:0px;
    font-size:12px;
}
.wrapped_text h2{
  text-align:center;
  font-size:15px;
}
.logos-{
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 9vw;
    margin-left:1vw;
}

.green_header{
  text-align:center;
  font-size:17px;
  font-weight:bold;
  margin-bottom:20px;
}

.green_underline{
  border-bottom:2px solid #2eb950;
  padding-bottom:5px;
}
.logo1{background-image: url(../img/logos/11.png);}
.logo2{background-image: url(../img/logos/44.png);}
.logo3{background-image: url(../img/logos/22.png);}
.logo4{background-image: url(../img/logos/33.png);}


#quote {
    background-image: url(../img/bilde2.jpg) !important;
}
#quote2{
    background-image: url(../img/aiva_viksna.png) !important;
    height: 392px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../img/1.jpg);
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.wrapped1{
  width:27%;
  margin:0 auto;
  height: 270px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logos-1{
    width: 30%;
    height: 83px;
    margin:0 auto;
}

.logo5{background-image: url(../img/logos/10.png);}
.logo6{background-image: url(../img/logos/13.png);}
.logo7{background-image: url(../img/logos/12.png);}


.flex-dalibskolas{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.one-flex{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 13px;
    margin-bottom:6px;
    border-radius:4px;
}
.one-flex img{
    width: 3.5vw;
    margin: 0.5vw;
}
.one-flex p{
    font-size: 13px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: left;
    margin: 0;
}
.quote_table_text{
  color:white;
  text-align:center;
  font-size:12px;
  margin-bottom:4px;
}
.content_3 tr:first-child th{
  border-bottom:1px solid rgba(255,255,255,0.3);
}
.content_3{
  padding:5px 15px;
}
.wrap-dalibskolas{
  display:flex;
}
.wrap-dalibskolas .wrapped1{
  width:20%;
  justify-content: center;
  padding:10px;
  display:block;
  height:220px;
}
.wrap-dalibskolas .wrapped1 p{
  text-align:center;
  margin-top:10px;
}
.wrapped1 .logos-2{
  margin-top:50px;
}
.wrap-dalibskolas .wrapped1 img{
  width:60px;
  margin:0 auto;
}
.wrap.ziedojumi .wrapped{
  margin:0 auto;
}
.logo20.log{
  margin-right:20px;
}

.text-akt{
    display: -webkit-flex;
    display: flex;
}
.text-akt p{
    font-size: 11px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: left;
    margin: 0;
    padding-bottom: 0.5vw;
    width: 50%;
    margin-right: 13px;
}
.skolotaji .text-akt{
    text-align: center;
}
.skolotaji .text-akt p{
    font-size: 11px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    margin: 0;
    padding-bottom: 0.5vw;
    margin-right: 13px;
    width: 100%;
    text-align: center;
}

.wrap-reversed{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#dalibskolas-skolas .wrap-reversed{
    justify-content: space-between;
}
.wrapped-reversed{
    width: 23%;
    height: auto;
    padding: 0.5vw;
}
.logos-r{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-reversed p{
    font-size: 9px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: justify;
    margin: 0;
    padding: 13px;
}
.log{
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-position-x: 50%;
    background-size: 70%;
    background-position-y: 50%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 83px;
    height: 83px
}
.wrapped_text-1{
    padding-top: 17px;
    padding-bottom: 17px;
}

.logo13{
    background-image: url(../img/logos/13.png);
}
.logo14{
    background-image: url(../img/logos/3.png);
}
.logo15{
    background-image: url(../img/logos/11.png);
}
.logo16{
    background-image: url(../img/logos/5.png);
}
.logo17{
    background-image: url(../img/logos/22.png);
}
.logo18{
    background-image: url(../img/logos/1.png);
}
.logo19{
    background-image: url(../img/logos/14.png);
}


.logo20{
    background-image: url(../img/logos/57.png);
}
.logo21{
    background-image: url(../img/logos/58.png);
}
.second-block{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 20vw;
}
.second-block p{
    font-size: 9px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: justify;
    margin: 0;
    padding: 13px;
}
.second-block img{
    width: 100%;
    height: 100%;
}
.second-block div:first-child{
    width: 60%;
}
.second-block div:last-child{
    width: 40%;
    display: -webkit-flex;
    display: flex;
    justify-content:center;
    align-items:center
}
.three .wrapped-reversed{
    width: 30%;
}

#about-table{
    position: absolute;
    right: 12vw;
    width: 25vw;
}
.content_3{
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    margin: auto;
    text-align: center;
    border-radius: 0.5vw;
    border: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 0.3vw;
}
.content_3 p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 17px;
    font-weight: 500;
}
.content_3 h1{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 17px;
    font-weight: bold;
}
.content_3 span{
    color: white;
}
.content_3 tr{
    height: 27px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.first_header{
    text-align: left;
    width: 35%;
    padding-left: 13px;
}
.second_header p span{
    font-size: 0.5vw;
}
.second_header p{
    text-align: left;
    padding-left: 13px;
}
.content_3 img{
    width: 8vw;
    margin-right: 13px;
}

.wr-buttons{
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 0.5vw;
}
.wr-buttons div{
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}
.wr-buttons p{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 13px;
    font-weight: bold
}
.wr-buttons p a{
    color: black !important;
    font-size: 11px !important;
    font-family: "Poppins", sans-serif !important;
    color: rgb(255, 255, 255);
    line-height: 1 !important;
    margin: 0;
    padding-bottom: 0vw !important;
    cursor: pointer
}


.wr-t{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.wr-t p:first-child{
    width: 90%;
    margin-right: 27px;
}
.wr-t p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: left;
    margin-bottom: 27px;
}
.capture_dalibskolas_mobile{
    display: none;
}

@media screen and (max-width: 900px){
    .none{
        display:none;
    }
    .capture_dalibskolas_mobile{
        display: block;
        margin: auto;
        margin-bottom: 138px;
        margin-top: 138px;
        width: 70%;
    }
    .capture_dalibskolas_mobile p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 20px;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }

    .capture_dalibskolas {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 50vw;
    }
    .capture_dalibskolas h2 {
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    .capture_dalibskolas p {
        font-size: 3.2vw;
        line-height: 1.2;
        text-align: justify;
    }
    #partners{
        display:none !important
    }
    #map {
        width: 100%;
        height: 150vw;
    }
    .skolas h1 {
        display:none
    }
    .skolas .flextable {
        display: -webkit-flex;
        display: flex;
        width: 65%;
        margin: auto;
        font-size: 20px;
        flex-direction: column;
        padding-top: 138px;
        padding-bottom: 138px;
    }
    .skolas .flextable p {
        line-height: 2;
    }
    .skolotaji #quote p{
        margin-top: 70px;
    }
    #quote {
        background-image: url(../img/mob_1.jpg) !important;
        display:block !important;
    }
    #quote2{
    height: auto;
    }

    .wrapped1 {
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .logos-1 {
        width: 30%;
        box-shadow: none;
        height: 20vw;
    }
    .wrapped_text {
        padding: 17px;
    }
    .wrapped_text h2{
      font-size:25px;
    }
    .wrap-dalibskolas{
      flex-direction:column;
    }
    .wrapped h1, .wrapped1 h1 {
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        line-height: 1.6;
        margin-bottom: 27px;
    }
    .wrapped p, .wrapped1 p {
        font-size: 20px;
        line-height: 1.3;
        text-align: justify;
    }
    .wrap {
        flex-direction: column;
    }
    .wrapped1 {
        width: 100% !important;
        height: auto !important;
        margin-bottom:20px;
    }
    .dalibskolas_content-1 h3 {
        margin: 7vw;
        text-align: center;
        font-size: 4vw;
        font-weight: 900;
    }
    .flex-dalibskolas {
        flex-direction: column;
    }
    .one-flex {
        height: auto;
        width: auto;
        padding: 13px;
        margin: 13px;
        flex-direction:column;
    }
    .one-flex img {
        width: 15vw;
        margin: 70px;
    }
    .one-flex p {
        font-size: 20px;
        line-height: 2;
    }
    .text-akt {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text-akt p {
        margin:auto;
        font-size: 2.8vw;
        font-family: "Poppins";
        color: black;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
        padding-bottom: 7vw;
        width: 100%;
        margin-right: 13px;
    }
    .wrapped {
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
        margin: 27px;
    }
    .logos- {
        width: 45%;
        box-shadow: none;
        height: 30vw;
        margin-left: 0;
    }

    .wrap-reversed {
        width: 100%;
        flex-direction: column;
    }
    .wrapped-reversed {
        width: 100% !important;
        height: auto;
    }
    .wrap-reversed p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }
    .log {
        box-shadow: none;
        width: 25vw;
        height: 25vw;
    }
    .skolotaji .text-akt p{
        font-size: 20px;
        line-height: 2;
        margin-bottom: 70px;
    }
    #dalibskolas-skolas #quote{
        height: 160vw;
        background-image: url(../img/4943831_HaPKNNv.jpg) !important;
    }
    .wr-buttons {
        box-shadow: none;
        padding: 0;
    }
    .wr-buttons p a {
        font-size: 3.5vw !important;
    }
    .wr-buttons div {
        flex-direction: column;
        text-align: center;
    }
    .wr-t {
        flex-direction: column;
    }
    .wr-t p:first-child {
        width: 100%;
        margin-right: 0vw;
    }
    .wr-t p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
        margin-bottom: 70px;
    }
    #about-table{
      position:static;
      width:100%;
    }
    .capture_top_buttons{
      display:none;
    }
}