#banner {
    height: 46vw;
    background-image: url(../img/background_enu_diena.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
.capture_enu_diena{
    position: absolute;
    margin-top: 20vw;
    margin-left: 12vw;
    z-index: 2;
    width: 37%;
}
.capture_enu_diena h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 0.5vw;
}
.capture_enu_diena h1{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 11px;
    padding-bottom: 0.5vw;
    text-transform: uppercase;
    opacity: 0.8;
}
.capture_enu_diena p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 18px;
    text-align: left;
    opacity: 0.8;
}
.capture_enu_diena span {
    color: #2cc654;
    font-weight: bold;
}
#main_info{
    padding-top: 40px;
    padding-bottom: 83px;
    width: 50%;
    margin: auto;
}
#content_1{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
}
#element{
    position: absolute;
    width: 34px !important;
    right: 0;
}
#content_1 div:first-child{
    width: 30%;
}
#content_1 div:last-child{
    width: 70%;
    padding-left: 40px;
}
#content_1 img{
    width: 100%;
}
#content_1 h1{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: left;
    font-weight: bold;
}
#content_1 h2{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: left;
    margin-bottom: 13px;
    font-weight: 400;
}
#content_1 p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: left;
}
h6{
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 15px;
}
#content_2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.c_2{
    width: 8vw;
    height: 8vw;
    margin: 0.5vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.c_2 p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 12px;
    text-align: center;
}
.header_content_2{
    height: 27px;
}
.background{
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 50%;
    background-size: 40%;
    background-position-y: 50%;
}
#b1{background-image: url(../img/logos/18.png)}
#b2{background-image: url(../img/logos/19.png)}
#b3{background-image: url(../img/logos/20.png)}
#b4{background-image: url(../img/logos/21.png)}
#b5{background-image: url(../img/logos/23.png)}
#b6{background-image: url(../img/logos/24.png)}
#b7{background-image: url(../img/logos/25.png)}
#b8{background-image: url(../img/logos/26.png)}
#b9{background-image: url(../img/logos/27.png)}
#b10{background-image: url(../img/logos/28.png)}

#content_3{
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    width: 25vw;
    margin: auto;
    text-align: center;
    border-radius: 0.5vw;
    border: 1px solid rgba(255,255,255,0.3);
    right: 12vw;
}
#content_3 p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 17px;
    font-weight: 500;
}
#content_3 h1{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 17px;
    font-weight: bold;
}
#content_3 span{
    color: white;
}
#content_3 tr{
    height: 27px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.first_header{
    text-align: left;
    width: 35%;
    padding-left: 13px;
}
#quote{
    background-image: url(../img/2.jpg) !important;
}
.capture_enu_diena_mobile{
    display: none;
}
@media screen and (max-width: 900px){
    .capture_enu_diena {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 70vw;
    }
    .capture_enu_diena h2 {
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    .capture_enu_diena p {
        display: none
    }
    .capture_enu_diena_mobile{
        display: block;
        margin-bottom: 138px;
    }
    .capture_enu_diena_mobile p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }
    #main_info {
        padding-top: 28px;
        padding-bottom: 28px;
        width: 70%;
    }
    h6 {
        margin-bottom: 28px;
        font-size: 4.5vw;
    }
    .c_2 {
        width: 100%;
        height: 300px;
        box-shadow: none;
    }
    .background {
        height: 20vw;
    }
    .c_2 p {
        font-size: 40px;
        line-height: 1;
    }
    #quote {
        background-image: url(../img/mobile-2.jpg) !important;
        padding-bottom: 50vw;
    }
    #content_3 {
        width: 100%;
        right: 0;
        bottom: 0;
    }
    #content_3 tr {
        height: 12vw;
    }
    .first_header {
        width: 40%;
        padding-left: 70px;
    }
    #content_3 h1 {
        font-size: 3.5vw;
        line-height: 1;
    }
    #content_3 p {
        font-size: 40px;
    }


    #partners{display:none !important}
}