#partners{
    background-color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
#partners h1{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(159, 159, 159);
    text-transform: uppercase;
    padding: 40px;
}
#partners div img{
    width: 8vw;
    padding: 40px;
    padding-bottom: 20px;
}
#border_footer {
    background-image: url(../img/image0021.jpg);
    height: 5px;
    background-size: 202px;
    display:none;/*hiding the border for now*/
}
#footer{
    height: auto;
    background-color: #1f1f27;
}
#footer_info{
    width: 100%;
    justify-content: center;
}

#footer_image {
    width: 83px;
}
.flex_footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.footer_block{
    padding: 4vw 13px 40px 13px;
}
.footer_block h1{
    font-size: 13px !important;
    text-align:left !important;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 254, 254);
    font-weight: 600;
    margin: 0;
    padding-bottom: 18px;
}
.footer_block p{
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    opacity: 0.6;
    margin: 0;
}
.footer_block ul,.footer_block li,.footer_block a{
    list-style-type: none;
    font-size: 9px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 13px;
    margin: 0;
    padding-bottom: 13px;
}
#footer_3 .border{
  display:none;
}
#footer-link{
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer_links{
    padding-bottom: 18px;
    cursor: pointer;
}
#footer_6 img{
    width: 13px;
    margin-left: 6px;
}

#youtube img {
    width: 40px;
}

#facebook img {
    width: 0.5vw;
}
#draugiem img {
    width: 17px;
}
.footer_block a:hover{
    color:#2cc654;
}
#copiright p{
    font-size: 9px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin: 0;
    text-align: center;
    padding-bottom: 27px;
}
.border {
    border: 1px solid white;
    padding: 0.5vw;
}
@media screen and (max-width: 900px){
    #partners {
        display: none;
    }
    #footer_info {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        text-align: center;
        padding:0px;
    }
    .footer_block{
        width: 100% !important;
        padding:0px;
    }
    .footer_block img{
        width: 30% !important
    }

    #footer-link img{
        width: 100% !important
    }
    #footer_3{
        display:none;
    }
    .footer_block h1 {
        font-size: 20px !important;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 0px;
        text-align: center !important;
    }
    .footer_block p {
        font-size: 20px !important;
        line-height: 1.5;
        opacity: 1;
    }
    #footer-link {
        width: 80%;
        margin: auto;
        margin-top:5vw
    }
    #copiright p {
        font-size: 20px;
        padding-bottom: 138px;
        width: 80%;
        margin: auto;
    }
    #partners div img{
        width: 12vw;
        padding: 40px;
        padding-top: 10px !important;
        padding-bottom: 10px;
    }
    #footer_image{
      padding:20px 0px !important;
    }
}
