h1{}
p{}
.banner{
    height: 500px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/*#banner {*/
/*height: 500px !important;*/
/*}*/
#main_banner{
    position: absolute;
    top: 0;
    /*height: 46vw;*/
    width: 100%;
}

.round_buttons{
    text-align: center;
    position: relative;
    top: -8vw;
    z-index: 5;
}
.round_buttons button{
    background-color: white;
    border: none;
    border-radius: 138px;
    padding: 0.4vw;
    margin: 0.3vw;
    opacity: 0.6;
    cursor: pointer;
}

.first_button img, .second_button img{
    width: 3.5vw;
    cursor: pointer;
}
.first_button{
    position: absolute;
    left: 7vw;
    top: 470px;
    z-index: 2;
}
.second_button{
    position: absolute;
    right: 7vw;
    top: 470px;
    z-index: 2;
}
.date_a{
    list-style-type: unset !important;
    font-size: unset !important;
    font-family: unset !important;
    color: unset !important;
    line-height: unset !important;
    margin: unset !important;
    padding-bottom: unset !important;
}
#date{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    top: 450px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    height: 8vw;
    z-index: 3;
}
.date{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 17px;
    padding-left: 27px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: rgb(168, 168, 168);
    width: 235px;
    position: absolute;
    top:0;
    background-color: #fff;
    z-index: 2;
    height:70px;
}
.date h1{
    margin: 0;
    font-size: 9px;
    font-family: "Poppins", sans-serif;
    opacity: 0.8;
    font-weight: 500;
}
.date h2{
    margin: 0;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height:22px;
    text-align:center;
}
.date p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    opacity: 0.8;
    font-weight: 500;
}
.day{
    margin-right: 27px;
}
.date:hover{
    background-color: #2cc654;
    color: white;
}
.time_{
    border-left: 1px solid;
    padding-left: 13px;
}
#all_news{
    position: absolute;
    top: 40vw;
    right: 138px;
    z-index: 2;
}
#all_news a{
    color: #2cc654;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 13px;
    cursor: pointer;
}
#news{
    padding-top: 83px;
    padding-bottom: 83px;
}
.wrap {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}

.news-content {
    display: none !important;
}

#pagenave {
    display: flex;
    flex-wrap: wrap;
}

.paginationjs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginationjs-prev, .paginationjs-next  {
    border-radius: 50%;
    width: calc(0.5vw + 0.5vw) !important;
    margin: 0 calc(10px + 0.5vw) !important;
    background-color: #39cf60;
    opacity: 0.5;
}

.J-paginationjs-next, .J-paginationjs-previous {
    background-color: rgb(234, 234, 234) !important;
}


.wrap a {
    font-size: unset;
    color: unset;
    line-height: unset;
    margin: unset;
    padding-bottom: unset;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#pagenav {
    margin: auto;
    width: 20%;
    font-size: 27px;
    color: rgb(159, 159, 159);
    background-color: white;
}

#pagenav .active {
    background-color: #39cf60;
}

.active a {
    background-color: #757575 !important;
}

.wrap li {
    width: 38%;
    margin-left: 4vw;
    margin-right: 4vw;
}

.wrap ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-wrap: wrap;
}
.cont_head {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: rgb(88, 88, 88);
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 18px;
    margin-top: 27px;
    /*height: 83px;*/
    cursor: pointer
}
.wrap .cont_head:hover {
    color: #07cd60
}
.wrap #content-date a{
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: rgba(88, 88, 88, 0.5);
    font-weight: bolder;
    text-align: left;
    margin: 0;
    margin-top: 6px;
    position: absolute;
    margin-left: -5vw;
}
.cont_text {
    font-size: 11px;
    font-family: "Poppins";
    color: rgb(159, 159, 159);
    line-height: 1.2vw;
    text-align: left;
    margin: 0;
}
#news h5{
    margin: 0;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    color: rgb(159, 159, 159);
    font-weight: bold;
    margin-left: 19%;
}
#news_block{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 41vw;
}
.text_inside_block, .text_inside_block_{
    width: 80%;
    margin: auto;
    height: fit-content;
}

.text_inside_block h1, .text_inside_block_ h1{
    margin: 0;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 13px;
    line-height: 1.5;
}
.text_inside_block p, .text_inside_block_ p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    text-align:	justify;
    line-height: 1.3;
}
.text_inside_block a{
    color: rgb(163, 163, 163) !important;
}
.text_inside_block_{
    color: white;
}
.wrap2 {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.first_photo{
    background-image: url(../img/gal/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%
}
.photo {
    width: 50%;
    height: 20.5vw;
    background-size: 111%;
    background-repeat: no-repeat;
    display: inline;
    transition: all ease 0.3s;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo1 {
    background-color: #07cd60;
    -webkit-transition: width .2s; /* Safari */
    transition: transform .2s
}
.photo2 {
    background-image: url(../img/gal/2.jpg);
}
.photo3 {
    background-image: url(../img/gal/3.jpg);
}
.photo4 {
    background-color: white;
    -webkit-transition: width .2s; /* Safari */
    transition: transform .2s
}
.block_inside_block{
    width: 50%;
    height: 20.5vw;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: width .2s; /* Safari */
    transition: transform .2s
}
.photo1:hover, .photo4:hover, .block_inside_block:hover{
    transform: scale(1.05);
}
#junior {
    background-image: url(../img/lv.png);
    background-repeat: no-repeat;
    height: 50vw;
    width: 100%;
    background-position: 50%;
    background-size: 70%;
    position: relative;
}
#junior h1{
    margin:0;
    padding:0;
    color: white;
    font-size: 1.6vw;
    text-align: center;
}

.junior-capture h5 {
    margin: 0;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    color: rgb(159, 159, 159);
    font-weight: bold;
}

#junior span{
    font-size: 1.2vw;
    font-weight: 400
}
.dot-news {
    border-radius: 50%;
    height: calc(8px + 0.5vw);
    width: calc(8px + 0.5vw);
    margin: 0 calc(10px + 0.5vw);
    background-color: rgb(234, 234, 234);
    opacity: 0.5;
}
.junior-capture{
    margin-top: 83px;
    width:65%;
    margin-left: 19%;
}
.junior-gr-block{
    background-color: rgba(7,205,96, 0.8);
    width: 16vw;
    height: 13vw;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.gr-1{
    top: 24.9vw;
    left: 24vw;
}
.gr-2{
    top: 12vw;
    left: 39.9vw;
}
.gr-3{
    top: 12vw;
    right: 27.4vw;
}
.gr-4{
    top: 24.9vw;
    right: 43.3vw;
}
.gr-5{
    top: 24.9vw;
    right: 27.4vw
}
#quote{
    height: auto !important;
    background-image: url(../img/background2.jpg) !important;
    margin-bottom: 50px;
}
.quote{
    width: 28vw !important;
}
#facebook_info{
    background-color: #ececec;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#facebook_info p{
    font-family: "Poppins", sans-serif;
    color: rgb(139, 139, 139);
    text-align: center;
    padding: 27px;
}
#facebook_info img{
    width: 5%;

}
.info_block{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 22vw;
    width: 25%;
    text-align: center;
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid #ececec;
}
.one{}
.two{
    background-image: url(../img/gal/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.three{}
.four{
    background-image: url(../img/gal/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.all-bottom{
    display: -webkit-flex;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 96%;
    padding: 10px 10px 10px 10px;
    background-color: #ececec;
    margin: auto;
    height: 13%;
    transition-duration: 1.5s;
    -webkit-transition: width 0s; /* For Safari 3.1 to 6.0 */
    transition: width 0s;
    bottom: 0;
}
.info_block:hover .all-bottom {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px
}
.info_block:hover .all-bottom p {
    font-size: 13px;
}
.all-bottom p{
    padding: 0 !important;
    margin: 0;
    font-size: 9px;
    line-height: 1.3 !important;
    margin-right: 25px;
    padding-top: 4.6px !important;
    width: 100%;
}

.facebook-icon img {
    display: none;
}

.facebook-icon {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 21px;
}

.info_block:hover .facebook-icon {
    padding-top: 3.26vw;
}

.info_block:hover .facebook-icon img {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}

/*.all-bottom:hover .share img {*/
    /*margin-top: 80px;*/
/*}*/

.fb_iframe_widget {
    display: none !important;
}

.share {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.share:hover {
    cursor: pointer;
}

.share img{
    padding-top: 0 !important;
    width: 1.2vw !important;
    margin-top: 8px;
}
.time h2{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(139, 139, 139);
    text-align: left;
    margin: 0;
}
#left1, #right1{
    display:none;
}
.slide a{
  font-size:unset;
}
@media screen and (max-width: 900px){
    .paginationjs-prev, .paginationjs-next {
        width: calc(1.4vw + 0.5vw) !important;
        height: 13px;
    }
    #main_banner {
        height: 150vw;
    }
    .banner {
        height: 150vw;
        background-position-x: 10%;
    }
    #news h5 {
        margin-left: 0;
        text-align: center;
        margin-bottom: 70px;
        font-size: 70px
    }
    .wrap li {
        width: 100%;
        margin: auto;
        margin-left: 15%;
    }
    .wrap .cont_head {
        font-size: 3.5vw;
        line-height: 1.5;
        margin-top: 0;
        height: unset;
        margin-bottom: 27px;
    }
    .wrap #content-date a {
        font-size: 40px;
        margin-top: 6px;
        margin-left: -10vw;
    }
    .wrap .cont_text {
        font-size: 34px;
        line-height: 1.5;
        margin-bottom: 70px;
    }



    #date {
        top: 135vw;
    }
    #all_news {
        top: 130vw;
    }
    .first_button, .second_button {
        top: 137.2vw;
    }




    #news_block {
        height: auto;
        flex-direction: column;
    }
    .first_photo {
        width: 100%;
        height: 100vw;
        background-position: center;
        margin-bottom: 60vw;
    }
    .block_inside_block {
        width: 100%;
        height: 60vw;
        background-color: white;
        position: relative;
        margin-top: 100vw;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo {
        width: 100%;
        height: 60vw;
        background-size: 110%;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text_inside_block, .text_inside_block_ {
        padding: 0vw;
        width: 70%;
    }
    .photo2, .photo3{
        display:none
    }
    .text_inside_block h1, .text_inside_block_ h1 {
        font-size: 7vw;
        margin-bottom: 40px;
        line-height: 1.5;

    }
    .text_inside_block p, .text_inside_block_ p {
        font-size: 34px;
    }
    #junior {
        background-image: url(../img/lv.png);
        background-repeat: no-repeat;
        height: 140vw;
        width: 100%;
        background-position: 50%;
        background-size: 90%;
        position: relative;
        background-position-y: 45%;
        display: -webkit-flex;
        display: flex;
    }
    .junior-capture {
        position: absolute;
        top: 15vw;
        width: 82%;
        margin: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .junior-gr-block {
        background-color: rgba(7,205,96, 0.8);
        width: 50vw;
        height: 30vw;
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*position: relative;*/
        top: unset !important;
        /*left: 0 !important;*/
        bottom: 0;
        margin: auto;
        margin-left: 5px;
    }
    #junior p {
        margin: 0;
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        line-height: 1.3;
    }
    #junior h1 {
        font-size: 70px;
    }
    #junior span {
        font-size: 4vw;
    }
    #quote{
        display:none !important
    }


    #all_news{
        display:none
    }
    .first_button img, .second_button img {
        width: 13.5vw;
    }
    .first_button, .second_button {
        top: 120vw;
    }
    #date {
        width: 50%;
        position: absolute;
        top: 113vw;
        height: 30vw;
        z-index: 3;
        margin: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .date {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .day {
        margin-right: 0vw;
        padding: 40px;
    }
    .date h2 {
        font-size: 70px;
    }
    .date h1 {
        font-size: 40px;
    }
    .time_ {
        padding-left: 0;
        padding: 40px;
    }
    .date p {
        font-size: 27px;
    }
    .gr-2, .gr-3, .gr-4, .gr-5{
        display:none
    }
    #junior-gr{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 65vw;
    }



    .two, .three, .four{
        display:none
    }
    .info_block {
        height: 60vw;
        width: 100%;
    }
    #facebook_info p {
        font-size: 40px;
    }
    .time h2 {
        font-size: 40px;
    }
    .share img {
        width: 70px !important;
    }


    .sub {
        margin-left: 70px;
    }
    #left1, #right1{
        display:block;
    }

}
