#banner {
    height: 46vw;
    background-image: url(../img/background_aktualitates.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
#news{
    background-color: #ececec;
    padding-top: 138px;
    padding-bottom: 83px;
}
.capture_aktualitates{
    position: absolute;
    margin-top: 230px;
    margin-left: 12vw;
    z-index: 2;
    width: 38%;
}
.capture_aktualitates h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_aktualitates p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.capture_aktualitates span {
    color: #2cc654;
    line-height: 40px;
}
.capture_aktualitates a{
    cursor: pointer;
    font-size: 12px
}
.capture_aktualitates_2{
    display: none;
    position: absolute;
    z-index: 2;
    top: 138px;
    right: 138px;
}
.capture_aktualitates_2 h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 40px;
    padding-bottom: 13px;
}
.capture_aktualitates_2 p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#c2, #c3{display:none;}
#calendar{padding: 40px 0 70px 0;}
.calendar{
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.top{
    width: 19%;
    height: 34px;
    border: 0.5px solid rgb(168, 168, 168);
    background-color: rgba(194, 194, 194, 0.212);
}
.top h1{
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding: 9px;
    margin: auto;
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
}
.date_window{
    width: 19%;
    height: 9vw;
    border: 0.5px solid rgb(168, 168, 168);
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
}
.date_window:hover{
    background-color: white;
}
.date_window h2{
    color: rgb(168, 168, 168);
    text-transform: uppercase;
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    padding: 0.5vw;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
#notikums{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 13px;
}
#notikums h3{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    line-height: 13px;
    margin-right: 0.5vw;
}
#notikums h4{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    line-height: 13px;
}
#notikums p{
    margin: 0;
    font-size: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(168, 168, 168);
    line-height: 12px
}
.notikums_border{
    border-left: 1px solid;
    padding-left: 0.5vw;
}
.month{
    width: 67%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.month div{
    width: 33.3333%;
    height: 34px;
}
.month h1 {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding: 0.5vw;
    margin: auto;
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.month h2 {
    text-align: center;
    margin: auto;
    padding: 0.5vw;
}
.month a{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6vw;
    text-align: center;
    font-weight: bold;
    margin: auto;
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
    color: rgb(194, 194, 194);
}
.top_month{background-color: rgb(194, 194, 194);}
@media screen and (max-width: 900px){
    .capture_aktualitates {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 50vw;
    }
    .capture_aktualitates h2 {
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    .capture_aktualitates p {
        font-size: 3.2vw;
        line-height: 1.2;
        text-align: justify;
    }
    #partners{
        display:none !important
    }
    .calendar {
        width: 100%;
    }
    .month a {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 138px;
    }
    .month div {
        height: 8vw;
    }
    .top_month {
        background-color: unset;
    }
    .month h1 {
        font-size: 4vw;
        color: black;
    }
    .month h2 {
        margin-top: 27px;
    }
    .top {
        height: 83px;
    }
    .top h1 {
        font-size: 34px;
    }
    .date_window h2 {
        font-size: 4vw;
    }
}