#banner {
    height: 46vw;
    background-image: url(../img/profile-bg-pupil.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#banner.teacher-bg{
    background-image: url(../img/profile.png) !important;
}
.capture{display:none;}
#news{
    background-color: #ececec;
    padding-top: 138px;
    padding-bottom: 83px;
}
.capture_aktualitates{
    position: absolute;
    margin-top: 230px;
    margin-left: 12vw;
    z-index: 2;
    width: 38%;
}
.capture_aktualitates h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_aktualitates p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.capture_aktualitates span {
    color: #2cc654;
    line-height: 40px;
}
.capture_aktualitates a{
    cursor: pointer;
    font-size: 12px
}
.capture_aktualitates_2{
    display: none;
    position: absolute;
    z-index: 2;
    top: 138px;
    right: 138px;
}
.capture_aktualitates_2 h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: left;
    font-size: 27px;
    line-height: 40px;
    padding-bottom: 13px;
}
.capture_aktualitates_2 p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#c2, #c3{display:none;}
#calendar{padding: 40px 0 70px 0;}
.calendar{
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.top{
    width: 19%;
    height: 34px;
    border: 0.5px solid rgb(168, 168, 168);
    background-color: rgba(194, 194, 194, 0.212);
}
.top h1{
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    padding: 9px;
    margin: auto;
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
}
.date_window{
    width: 19%;
    height: 9vw;
    border: 0.5px solid rgb(168, 168, 168);
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
}
.date_window:hover{
    background-color: white;
}
.date_window h2{
    color: rgb(168, 168, 168);
    text-transform: uppercase;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
    padding: 0.5vw;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
#notikums{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 13px;
}
#notikums h3{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    line-height: 13px;
    margin-right: 0.5vw;
}
#notikums h4{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    line-height: 13px;
}
#notikums p{
    margin: 0;
    font-size: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(168, 168, 168);
    line-height: 12px
}
.notikums_border{
    border-left: 1px solid;
    padding-left: 0.5vw;
}
.month{
    width: 67%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.month div{
    width: 33.3333%;
    height: 34px;
}
.month h1 {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    padding: 0.5vw;
    margin: auto;
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.month h2 {
    text-align: center;
    margin: auto;
    padding: 0.5vw;
}
.month a{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6vw;
    text-align: center;
    font-weight: 600;
    margin: auto;
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
    color: rgb(194, 194, 194);
}
.smu-border.event_application .header,.smu-border.event_application .main{
  display: flex;
  margin-bottom: 23px;
  justify-content: center;
  align-items: center;

}
#event_reg{
  margin:0 auto;
  width:600px;
}
.event_reg_field input[type='checkbox'],.event_reg_field input[type='radio']{
  width:20px !important;
  height:auto !important;
}
.event_reg_field select{
  margin:0px !important;
}

#event_reg .event_reg_line{
  background:#f1f1f1;
  overflow:hidden;
  margin-right:25px;
  padding: 10px 18px;
  box-sizing:border-box;
  clear: both;
  margin-bottom: 13px;
}

#event_reg .event_reg_line input{
  background:none;
  border:none;
  font-size:15px;
  width:100%;
  height:25px;
}
#event_reg .event_reg_line  input:focus{
  outline: none;
}
.event_reg_label{
  font-size: 10px;
  margin-bottom:5px;
}

.event_badge{
  position:absolute;
  position:absolute;
  top:-8px;
  right:-8px;
  background-color:#35d15a;
  color:white;
  border-radius:50%;
  width:calc(8px + 8px) !important;
  height:calc(8px + 8px) !important;
  line-height:16px;
  text-align:center;
  font-size:10px;
  
}
.btn-applications{
  position:relative;
}

#events_header div{
  float:left;
}

#events_header{
  box-shadow:0px 0px 6px #dddddd;
  height:27px;
  border-bottom:1px solid #eee;
}
.events_wrap{
  width:70%;
}
.ev_col{
  padding:1px;
  text-align:left;
  float:left;
  overflow:hidden;
  font-size:15px !important;
  color:#aaaaaa;
  padding-left:7px;
  box-sizing:border-box;
}
.event-box .ev_col{
  line-height:34px;
}
.event-box .ev_col{
  font-size:13px !important;
}

.ev_col.date{
  width: 80px;
}
.ev_col.reg_date{
  width: 155px;
}
.event-box .ev_col.reg_date{
  border-right:1px solid #eee;
}
.ev_col.descr{
  width: 420px;
}

.block-btn{
  position:absolute;
  left:100%;
  margin-left:-120px;
  width:300px;
  
}

.event-box{
  position:relative;
  background-color:#fafafa;
  margin-bottom:5px;
}
.block-btn .spbutton{
  margin:0px;
  width:120px;
  padding:7px 10px;
  height:40px !important;
  white-space:nowrap;
}

.btn-submit2{
  display:none;
}
.event-box .ev_col.date{
  background-color:#c5c5c5;
  color:white;
  font-size:16px !important;
}
.event-box .ev_col.descr{
  font-size: 13px !important;
  color:black;
}
.block-teach{
  padding:0px !important;
  margin:0px;
  margin-top:4px;
}
.block-teach-text{
  width:120px;
  text-align:center;
  float:left;
  font-size:13px;
}
.block-teach-btn .spbutton{
  width:58px;
}
.teach-ev-yes{
  margin-left:4px !Important;
}
.event-participants{
  margin-left:220px;
  font-size:13px;
}

.top_month{background-color: rgb(194, 194, 194);}
@media screen and (max-width: 900px){
    .capture_aktualitates {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 50vw;
    }
    .capture_aktualitates h2 {
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    .capture_aktualitates p {
        font-size: 3.2vw;
        line-height: 1.2;
        text-align: justify;
    }
    #partners{
        display:none !important
    }
    .calendar {
        width: 100%;
    }
    .month a {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 138px;
    }
    .month div {
        height: 8vw;
    }
    .top_month {
        background-color: unset;
    }
    .month h1 {
        font-size: 4vw;
        color: black;
    }
    .month h2 {
        margin-top: 27px;
    }
    .top {
        height: 83px;
    }
    .top h1 {
        font-size: 34px;
    }
    .date_window h2 {
        font-size: 4vw;
    }
    #events_header{
      display:none;
    }
    .event-box .ev_col.descr{
      text-align:left;
    }
    .avents-box{
      margin-top:20px;
    }
    .block-btn{
      margin-left: -95px;
      width:auto;
    }
    .block-btn .spbutton{
      font-size: 14px !important;
      line-height: 14px !important;
      padding: 7px 4px;
      width:auto;
    }

}