#banner {
    height: 46vw;
    background-image: url(../img/background_konkurss.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
.capture_konkurss{
    position: absolute;
    margin-top: 20vw;
    margin-left: 12vw;
    z-index: 2;
    width: 35%;
}
.capture_konkurss h5{
    color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 2vw;
    line-height: 2vw;
    padding-bottom: 13px;
}
.capture_konkurss p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5vw;
    text-align: left;
    opacity: 0.8;
}
.capture_konkurss span {
    color: #2cc654;
    line-height: 2vw;
    font-weight: bold;
}
.foto{
    position: absolute;
    z-index: 2;
    right: 25vw;
    top: 30vw;
}
.foto button{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 13px;
    padding: 0.5vw 2vw;
    margin: 13px;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    text-transform: uppercase;
}
.foto button:hover {
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}
.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#main_konkurss{
    width: 70%;
    margin: auto;
    padding-top: 40px;
}
#content_1{
    margin-top:2vw;
    margin-bottom: 2vw;
    background-color: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.img_c1{
    position: absolute;
    left: -3vw;
    top: 2vw;
}
.img_c1 img{
    width: 17vw;
}
.capture_c1{
    z-index: 2;
    position: absolute;
    left: 15vw;
    top: 13vw;
}
#content_1 p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.1vw;
    text-align: justify;
}
#content_1 h1{
    margin: 0;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    color: rgb(243, 177, 0);
    margin-bottom: 13px;
}
#content_1 h2{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: left;
    font-weight: bold;
}
#content_1 h3{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: left;
    margin-bottom: 13px;
    font-weight: 400;
}
.c1{
    width: 50%;
    padding: 40px;
}
#content_2 {
    text-align: justify;
    width: 76%;
    margin: auto;
}
#content_2 p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5vw;
    padding-bottom: 13px;
}
#content_3{
    margin-top: 13px;
    margin-bottom: 5vw;
}
#content_3 table{
    background-color: white;
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 2vw;
}
#content_3 p{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: grey;
    line-height: 1.5vw;
    font-weight: 500;
}
#content_3 h1{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 40px;
}
#content_3 span{
    color: black;
    font-weight: bold;
    cursor: pointer;
}
#content_3 span:hover{
    color: #2cc654;
}
#content_3 tr{
    height: 2vw;
}
.first_header{
    text-align: left;
    width: 40%;
    padding-left: 40px;
}
#content_4{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
}
#element{
    position: absolute;
    width: 34px !important;
    right: 0;
}
#content_4 div:first-child{
    width: 30%;
}
#content_4 div:last-child{
    width: 70%;
    padding-left: 40px;
}
#content_4 img{
    width: 100%;
}
#content_4 h1{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: left;
    font-weight: bold;
}
#content_4 h2{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: left;
    margin-bottom: 13px;
    font-weight: 400;
}
#content_4 p{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: left;
}
@media screen and (max-width: 900px){
    #partners{
        display:none !important
    }
    .capture_konkurss {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 50vw;
    }
    .capture_konkurss h5 {
        text-align: center;
        font-size: 5vw;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    .capture_konkurss p {
        font-size: 3.2vw;
        line-height: 1.2;
        text-align: justify;
    }


    #main_konkurss {
        width: 100%;
        margin: auto;
        padding-top: 0;
    }
    #content_1 {
        margin-top: 0;
        margin-bottom: 2vw;
        background-color: unset;
        box-shadow: none;
        position: relative;
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    #content_1 .c1:first-child {
        width: 80%;
        padding: 40px;
        height: auto;
        border: none !important;
        margin-bottom: 25vw;
    }
    #content_1 .c1{
        width: 80%;
        padding: 40px;
        height: auto;
    }
    .img_c1 {
        position: relative;
        left: 0;
        top: 5vw;
        float: left;
    }
    .img_c1 img {
        width: 30vw;
    }
    .capture_c1 {
        z-index: 2;
        position: absolute;
        top: 46vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #content_1 h1 {
        margin: 0;
        font-size: 4vw;
        font-family: "Poppins", sans-serif;
        color: rgb(243, 177, 0);
        margin-bottom: 13px;
        position: absolute;
        right: 11vw;
        top: -18vw;
    }
    #content_1 h2 {
        margin: 0;
        font-size: 3.5vw;
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        line-height: 2;
        text-align: center;
        font-weight: bold;
    }
    #content_1 h3 {
        margin: 0;
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 13px;
        font-weight: 400;
    }
    #content_1 p {
        margin: 0;
        font-size: 2.8vw;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: justify;
    }
    #content_2 {
        text-align: justify;
        width: 72%;
        margin: auto;
    }
    #content_2 p{
        margin: 0;
        font-size: 2.8vw;
        font-family: "Poppins", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: justify;
    }
    #content_3 {
        margin-top: 138px;
        margin-bottom: 0;
    }
    #content_3 h1 {
        font-size: 40px;
        margin-right: 4vw;
    }
    #content_3 p {
        font-size: 40px;
        line-height: 1.5;
        margin-top: 13px;
        margin-bottom: 13px;
    }
}