#banner {
    height: 46vw;
    background-image: url(../img/background_best.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
.capture_best{
    position: absolute;
    margin-top: 20vw;
    margin-left: 12vw;
    z-index: 2;
    width: 46%;
}
.capture_best h5{
    color: #2cc654;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 3.5vw;
    line-height: 40px;
    padding-bottom: 13px;
}
.capture_best h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_best p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
#main_info_best{
    padding-top: 4vw;
    padding-bottom: 27px;
    width: 70%;
    margin: auto;
}
#main_info_best p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: justify;
    margin-bottom: 27px;
}


.two-columns{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.two-columns p{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 13px
}
.two-columns p a{
    color: #2cc654;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}
.two-columns li{
    color: rgb(0,0,0);
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding-bottom: 0;
    cursor: unset;
    list-style-type: disc;
    list-style-position: inside
}
.two-columns div{
    padding: 13px
}
.two-columns div{
    width: 50%;
}
.two-columns h3{
    margin: 0;
    font-size: 13px;
    margin-bottom: 13px
}
.two-columns h3 a{
    color: #2cc654;
    margin: 0;
    font-size: 13px;
    margin-bottom: 13px
}
.two-columns table{
    width: 100%;
    padding: 11px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 13px;
    border-radius: 0.5vw;
}
.two-columns tr{
    width: 100%;
}
.two-columns th{}
.two-columns td{
    padding:0.3vw
}
.two-columns h5{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5;
    text-align: left;
}
.two-columns p{
    margin-bottom: 0 !important;
    margin: 0 !important;
    font-size: 11px !important;
    font-family: "Poppins", sans-serif !important;
    color: rgb(0,0,0) !important;
    line-height: 1.5 !important;
    text-align: left !important;
    font-weight: 400 !important;
}
.two-columns h2{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgba(0,0,0, 0.4);
    line-height: 1.5;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.two-columns span{
    font-weight: 400
}
.capture_labakais_mobile{
    display: none;
}
@media screen and (max-width: 900px){
    #partners{
        display: none !important
    }
    .capture_best p {
        display: none;
    }
    .capture_labakais_mobile{
        display: block;
        margin: auto;
        padding-top: 138px;
        width: 70%;
    }
    .capture_labakais_mobile p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }
    #main_info_best p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
        margin: auto;
        width: 70%;
    }
    .two-columns{
        flex-direction: column
    }
    .two-columns div {
        margin-top: 138px;
        width: 100% !important;
    }
    #main_info_best {
        padding-top: 138px;
        padding-bottom: 138px;
        width: 100%;
        margin: auto;
    }
    .two-columns h3 {
        margin: 0;
        font-size: 3.5vw;
        margin-bottom: 70px;
        text-align: center;
        font-weight: 700 !important
    }
    .two-columns h3 a {
        color: #2cc654;
        margin: 0;
        font-size: 3.5vw;
        margin-bottom: unset;
        font-weight: 700
    }
    .two-columns span {
        font-weight: 600;
        color: grey;
        text-transform: lowercase;
    }
    .two-columns h2 {
        font-size: 40px;
        height: 15vw;
    }
    .two-columns h5 {
        font-size: 40px;
    }
    .two-columns p {
        font-size: 40px !important;
    }

}