html,body{
  font-size:12px;
  line-height:20px;
}
h2{
  font-size:20px;
  font-family: "Poppins Bold", sans-serif;
}
#banner {
    height: 46vw;
    background-image: url(../img/background_programma.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65)
}
.shadow-box{
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  min-width: 750px;
  padding-top: 20px;
  padding-bottom: 20px;
  width:1024px;
  margin:0 auto;
}
.capture{display:none;}
.capture_programma{
    position: absolute;
    margin-top: 13vw;
    margin-left: 12vw;
    z-index: 2;
    width: 40%;
}
.capture_programma h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_programma p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: justify;
    opacity: 0.8;
}
.capture_programma span {
    color: #2cc654;
    line-height: 40px;
}
#buttons_programma{
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 11vw;
    width: 100%;
    justify-content: flex-end;
    right: 18vw;
}
#buttons_programma button{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 13px;
    padding: 0.5vw 13px;
    margin: 13px;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}
#buttons_programma button:hover{
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}
#main_programma{
    margin-top: 40px;
    margin-bottom: 40px;
}
#main_info{
    text-align: center;
    width: 1024px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
#main_info h5{
    margin: 0;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 17px;
}
#main_info p{
    text-align: justify;
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}
.wrap{
    color: rgb(107, 107, 107);
    font-family: 'Poppins', sans-serif;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    margin-top: 40px;
}
.wrap div{
    width: 25%;
    text-align: center;
}
.wrap h1{
    text-transform: uppercase;
    font-size: 1.2vw;
    text-align: center;
    font-weight: 400;
    padding: 0.5vw;
    background-color: white;
    width: fit-content;
    margin: auto;
    letter-spacing: 0.1vw;
}
.wrap p{
    font-size: 11px;
    text-align: center;
    color: black;
}


.flex-prog{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -27px;
    clear:both;
}
.lideru_video_title{
  text-align:center;
}
.one-flex{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 236px;
    padding: 10px;
    margin: 13px;
    box-sizing:border-box;
    margin-right: 0px;
    margin-left: 26px; 
    position:relative;   
}
.one-flex span{
  position:absolute;
  top:30px;
}
.one-flex img{
    width: 60px;
    margin: 0.5vw;
}
.one-flex p{
    font-size: 12px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5vw;
}
.one-flex h1{
    font-size: 11px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5vw;
    font-weight: 600;
}
.capture_programma_mobile{
    display: none;
}
/*
.close {
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: 98%;
    padding-right: 40px;
}
.open {
    background-image: url(../img/open.png) !important;
    background-repeat: no-repeat;
    background-position: 98%;
    padding-right: 40px;
}
*/

.image{
    width: 100%;
    height: 26vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 27px
}
.im-1{
    background-image: url(../img/36578504893_b87cb3bf27_o.jpg)
}
.im-2{
    background-image: url(../img/YA-Latvia-izlaidums-2016-277.jpg)
}
.im-3{
    background-image: url(../img/3127438973255.jpg)
}

.closed_table{
  display:none;
}
.visible_table{
  display:flex;
}
.green_header{
  text-align:center;
  font-weight:bold;
  margin-bottom:20px;
}

.green_underline{
  border-bottom:2px solid #2eb950;
  padding-bottom:5px;
}
.lideri_img{
  text-align:center;
}
.two-columns img{
  width:100%;
}
.lideru_video_wrap{
  margin-top:30px;
}
.lideru_video{
  float:left;
  margin-right:20px;
}
.lideru_video_teksts{
  overflow:hidden;
  padding:0px 30px;
}
.lideru_video_teksts h5{
  margin-top:0px;
  font-size:21px;
  font-weight:bold;
  margin-bottom:15px;
}
.table_wrap{
  margin-top:20px;
  display:flex;
  justify-content: center; 
  margin-bottom:20px; 
  flex-wrap:wrap;
  margin-left:-5px;
}
.table_wrap .green_header{
  flex-basis: 100%
}
.table_wrap table{
  text-align:left;
  border:1px solid #eeeeee;
  padding:15px;
  border-radius:5px;
  font-size:15px;
  margin-right:5px;
}
.table_wrap table h5{
  margin:0px !important;
  font-weight:normal !important;
  font-size:13px !important;
}
.table_wrap table h2{
  margin-top:0px !important;
}
.table_wrap table tr:first-child td{
  border-bottom:1px solid #eeeeee;
}
.table_wrap table tr:first-child td h2{
  font-size:15px;
  color:#7f7f7f;
}
.table_wrap table td{
  padding:4px 10px;
  
}
.flex.mentori{
  flex-wrap:wrap;
  margin-right:-10px;
  justify-content:center;
}
.flex.mentori img{
  width:100%;
}

.single-flex{
  margin-right:10px;
  width:240px;
  margin-bottom:20px;
}
.single-flex h2{
  font-size:13px;
  font-weight:normal !Important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top:-7px;
  height:43px;
  line-height:43px;

}

.about-mentors{
  width:80%;
  margin:0 auto;
}
.about-mentors div:first-child{
  margin-bottom:60px;
}
.about-mentors div{
  margin-bottom:20px;
  text-align-last: center;
  text-align:justify;
}
.col-3 {
  display:flex;
  justify-content:center; 
}
.col-3 div {
  margin-right:20px; 
}
.col-3 img{
  height:95px;
}
#dalibnieki_cont{
}
#dalibnieki_cont h1{
  border-radius:4px;
  border:1px solid #cbcbcb;
  color:#686868;
  font-size:19px;
  font-weight:normal;
  padding:10px 10px;
  text-transform:uppercase;
  width:50%;
  margin:0 auto;
  margin-bottom:20px;
  cursor:pointer;
}
#dalibnieki_cont h1:hover{
  color: #2cc654;
  background-color: rgba(35,192,76,0.2);
  border: 1px solid rgba(35,192,76,0.2);
}
#dalibnieki_cont .close{
  color:white;
  background:#cbcbcb;
}
#dalibnieki_cont h2{
  text-transform:uppercase;
}
.flex-prog h3{
  text-align:center;
  font-family: "Poppins Bold", sans-serif;
}
b{
  font-family: "Poppins Bold", sans-serif;
}
.flex-prog .one-flex > div:first-child {
  height:70px;
  display:flex;
  align-items:center;
}

.main-flex .one-flex > div:first-child{
  height:108px;
}

.lideru_table{
  position: absolute;
  right: -440px;
  width: 400px;
  top:-21px;
  color: white;
}
.lideru_table table{
  background:rgba(255,255,255,0.2);
  padding:5px;
  border-radius:5px;
  text-align:center;
  border:1px solid rgba(255,255,255,0.2);
}
.lideru_table table td{
  padding:12px 10px;
  width:50%;
  height:50%;
}
.lideru_table table td:first-child{
  border-right:1px solid white;
}

.lideru_table table tr:first-child td{
  border-bottom:1px solid white;
}
@media screen and (max-width: 900px){
    p{
      font-size:20px;
      line-height:1.5
    }
    .capture_programma {
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 130px;
    }
    .capture_programma h2 {
        text-align: center;
        font-size: 27px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    .capture_programma p {
        display:none;
    }
    .capture_programma_mobile{
        display: block;
        width: 70%;
        margin: auto;
        margin-bottom: 138px;
    }
    .capture_programma_mobile p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }
    #main_programma {
        margin-top: 0px;
        margin-bottom: 138px;
    }
    .flex-prog {
        width: 80%;
        margin: auto;
    }
    .one-flex {
        height: auto;
        width: 100%;
        margin-left:0px;
        margin-bottom:20px;
    }
    .one-flex img {
        width: 15vw;
        margin: 70px;
    }
    .one-flex p {
        font-size: 20px;
        line-height: 1;
        padding-bottom: 0.5vw;
        /*width: 40vw;*/
        margin: auto;
    }
    .one-flex h1 {
        font-size: 4vw;
        line-height: 1;
        padding-bottom: 3.5vw;
    }
    #main_info h5 {
        font-size: 4vw;
        margin-bottom: 34px;
    }
    #main_info {
        width: 70%;
        margin-top: 138px;
        margin-bottom: 138px;
    }
    #main_info p {
        font-size: 20px;
        line-height: 1.5;
    }
    h3{
      font-size:25px;
    }

    #partners{display:none !important}
    .shadow-box{
      width:auto !important;
      min-width:unset;
    }
    .flex-prog h3{
      font-size:25px;
    }
    .green_underline{
      font-size:25px;
    }
    
    #dalibnieki_cont h5,#dalibnieki_cont p{
      font-size:16px !important;
    }
}
