#partners{display:none !important}
#banner {
    height: 46vw;
    background-image: url(../img/background_programma.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
.capture_top{
    position: absolute;
    margin-top: 230px;
    margin-left: 12vw;
    z-index: 2;
    width: 38%;
}
.dalibnieki{
    margin-top: 22vw;
    margin-left: 15vw
}
.capture_top h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_top p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.body_content{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: auto;
}

.flex{
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#main_info{
    padding-top: 4vw;
    padding-bottom: 27px;
    width: 70%;
    margin: auto;
}
#main_info p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: justify;
    margin-bottom: 27px;
}
#main_info h1{
    margin: 0;
    margin-bottom: 13px;
    text-align: center;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 700;
}
.image{
    width: 100%;
    height: 26vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 27px
}
.im-1{
    background-image: url(../img/36578504893_b87cb3bf27_o.jpg)
}
.im-2{
    background-image: url(../img/YA-Latvia-izlaidums-2016-277.jpg)
}
.im-3{
    background-image: url(../img/3127438973255.jpg)
}


.two-columns{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.two-columns p{
    margin: 0;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 13px
}
.two-columns p a{
    color: #2cc654;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}
.two-columns li{
    color: rgb(0,0,0);
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding-bottom: 0;
    cursor: unset;
    list-style-type: disc;
    list-style-position: inside
}
.two-columns div{
    padding: 13px
}
.two-columns div{
    width: 50%;
}
.two-columns h3{
    margin: 0;
    font-size: 13px;
    margin-bottom: 13px
}
.two-columns h3 a{
    color: #2cc654;
    margin: 0;
    font-size: 13px;
    margin-bottom: 13px
}
.two-columns table{
    width: 100%;
    padding: 11px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 13px;
    border-radius: 0.5vw;
}
.two-columns tr{
    width: 100%;
}
.two-columns th{}
.two-columns td{
    padding:0.3vw
}
.two-columns h5{
    margin: 0;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5;
    text-align: left;
}
.two-columns p{
    margin-bottom: 0 !important;
    margin: 0 !important;
    font-size: 11px !important;
    font-family: "Poppins", sans-serif !important;
    color: rgb(0,0,0) !important;
    line-height: 1.5 !important;
    text-align: left !important;
    font-weight: 400 !important;
}
.two-columns h2{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgba(0,0,0, 0.4);
    line-height: 1.5;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.two-columns span{
    font-weight: 400
}

.mentori{
    justify-content: center;
}
.mentori div{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 24%;
    margin: 0.3vw;
    margin-bottom: 13px;
}
.mentori img{
    width:100%;
}
.mentori h2{
    font-size: 13px;
    text-align: center;
    margin: 11px;
}


.about-mentors{
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.about-mentors div{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-1{
    width: 50%;
}
.col-1 img{
    width: 138px
}
.col-1 div{
    padding: 13px
}
.col-1 p{
    margin: 0;
    font-size: 11px !important;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 15px !important;
    text-align: justify;
    margin-bottom: 0 !important;
}
.col-2{
    width: 10%;
}
.col-2 h3{
    color: grey;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
}
.col-3{
    width: 40%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap
}
.col-3 div{
    width: 40%;
    margin: 13px;
}
.col-3 img{
    width:100%
}
@media screen and (max-width: 900px){
    .capture_top {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 70vw;
    }
    .capture_top h2 {
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    #main_info {
        padding-top: 138px;
        padding-bottom: 138px;
        width: 80%;
    }
    .mentori {
        width: 100%;
        flex-direction: column;
    }
    .mentori div {
        width: 100%;
        margin-bottom: 70px;
    }
    .mentori h2 {
        font-size: 4vw;
        margin: 27px;
    }
    .about-mentors {
        flex-direction: column;
    }
    .col-1, .col-2 {
        width: 100%;
        flex-direction: column;
    }
    .col-1 img {
        width: 40vw;
    }
    .col-1 p {
        font-size: 3.5vw !important;
        line-height: 1.5 !important;
        margin-bottom: 70px !important;
    }
    .col-2 h3 {
        color: black;
        font-size: 4vw;
        margin-bottom: 70px;
    }
    .col-3 {
        width: 100%;
    }
    .col-3 div {
        margin: 40px;
    }


    .dalibn {
        padding-top: 0 !important;
        padding-bottom: 138px !important;
        width: 100% !important;
    }
    .image {
        width: 100%;
        height: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 27px;
        background-position: 50%;
    }
    .im-1{
        background-image: url(../img/10.jpg)
    }
    .im-2{
        background-image: url(../img/20.jpg)
    }
    .im-3{
        background-image: url(../img/30.jpg)
    }

    #main_info h1 {
        margin: auto;
        margin-top: 138px;
        margin-bottom: 138px;
        text-align: center;
        font-size: 70px;
        text-transform: inherit;
        font-weight: 700;
        width: 70%;
    }
    .two-columns {
        flex-direction: column;
    }
    .two-columns div {
        width: 100%;
    }
    .two-columns h2{
        height: 15vw;
    }
    .two-columns h2, .two-columns h5, .two-columns p{
        font-size: 3.5vw !important;
    }


}