#partners{display:none !important}
#banner {
    height: 46vw;
    background-image: url(../img/padome.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.kontakti #banner {
    background-image: url(../img/karte.jpg) !important;
}
.parskats #banner {
    background-image: url(../img/parskats.jpg) !important;
}
.biedri #banner {
    background-image: url(../img/biedri.jpg) !important;
}
.vesture #banner {
    background-image: url(../img/vesture.jpg) !important;
}
.par_mums #banner {
    background-image: url(../img/background_best.jpg) !important;
}
.capture{display:none;}
.capture_top{
    position: absolute;
    margin-top: 13vw;
    margin-left: 12vw;
    z-index: 2;
    width: 80%;
}
.capture_top h2{
    margin: 0;
    font-family: "Poppins Bold", sans-serif;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    text-align: left !important;
    font-size: 27px !important;
    line-height: 1.1;
    padding-bottom: 13px;
    margin:0px !important;
}
.capture_top p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
    width:38%;
    margin-bottom:30px;
}
.flex{
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.separate{
    padding-top: 4vw;
    padding-bottom: 4vw;
    background:#ededed;
}
.separate .flex{
    width: 70%;
    margin: auto
}
.separate .flex div{
    width: 50%;
}
.separate h2{
    margin: 0;
    line-height: 1;
    margin-bottom: 27px;
    text-align:left !important;
}
.separate h5{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight:bold;
    font-family: "Poppins Bold", sans-serif;
    white-space: nowrap;
}
.separate p{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins Light", sans-serif;
}
.separate th{
    text-align: left;
    padding-right:10px;
    vertical-align:top;
}

#main_info{
    padding-top: 4vw;
    padding-bottom: 27px;
    width: 70%;
    margin: auto;
}
#main_info h1{
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
}

.mentori{
    /*justify-content: center;*/
  margin-right:-25px;
}
.mentori div{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 180px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.mentori.people > div{
  padding:24px;
  padding-top:15px;
  width:180px;
  box-sizing:border-box;
}
.padome > div {
  padding:25px !important;
}

.padome p {
  font-size:12px !important;
}
.mentori.people div h5{
  font-size:11px;
  text-align:center;
  text-transform:uppercase;
  margin:0px 0px 10px 0px;
  font-weight:lighter;
}
.mentori.people div h4{
  font-family: "Poppins Bold", sans-serif !important;
  margin:0px;
  margin-top:4px !important;
  margin-bottom:8px !important;
  white-space:nowrap;
  text-align:center;
  display: flex; 
  justify-content: center;
}
.mentori.people div p{
  margin-bottom:0px !important;
  text-align:left !important;
}
/*
.mentori div:nth-child(5),.mentori div:nth-child(10){
  margin-right:0px;
}
*/
.mentori{
  margin-right:-50px;
}
.mentori img{
    width:100%;
}
.mentori h2{
    font-size: 13px;
    text-align: center;
    margin: 11px;
}
#parskats_cont .mentori div{
  padding:25px 25px 10px 25px !important;
  box-sizing:border-box;
}
#parskats_cont .mentori h3{
  margin-bottom:0px !important;
}
.materiali div{
  padding:25px;
}
.materiali div h4{
  margin:0px;
  margin-bottom:20px;
  font-size:16px;
  font-weight:lighter;
}
.mentori.people div .kont p{
  text-align:center !important;
}
.materiali div a{
  color:#419c4d !important;
  font-size:12px !important;
}

.materiali h4{
  text-align:left !important;
}
.mentori h4{
  font-family: "Poppins", sans-serif !important;
}

h1{
  text-align:center !important;
  font-size:36px !important;
  margin-bottom:15px !important;
  font-family: "Poppins Semibold", sans-serif !important;
}
h2{
  text-align:center !important;
  font-size:24px !important;
  font-family: "Poppins Bold", sans-serif !important;
  margin-bottom:30px !important;
}
h3{
  text-align:center !important;
  font-size:22px !important;
  font-family: "Poppins SemiBold", sans-serif !important;
}
h4{
  text-align:center !important;
  font-size:16px;
  font-family: "Poppins Semibold", sans-serif ;
  margin:5px;
}
#biedri_cont h4{
    font-size: 13px !important;
    text-align: center !important;
    margin-bottom: 30px !important;
}
#biedri_cont .fiziskas_personas.mentori h4{
  margin-bottom:0px !important;
  margin:15px 25px !important;
}
/*
.mentori h3{
    text-transform: uppercase;
    color: grey;
    text-align: center;
    width: 85%;
    border-top: 1px solid rgba(0,0,0,0.3);
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
    margin: auto;
    margin-bottom: 13px;
    margin-top: 0.5vw;
    padding-top: 0.5vw;
}
*/
.kont{
    box-shadow: unset !important;
    width: 90% !important;
    margin: auto !important;
    margin-bottom: unset !important;
}
.kont p{
    font-size: 12px !important;
    border: none;
    color: black;
    text-align: center !important;
    width: unset !important;
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom:4px !important;
}





#map{
    width:100%;
    height:46vw;
    display: none;
}
#close{
    width: 100%;
    text-align: center;
    display: none;
}
.close-map{
    font-family: "Poppins", sans-serif;
    background-color: rgba(0,0,0,0.2);
    color: black;
    font-size: 13px;
    padding: 0.5vw 27px;
    margin: 13px;
    margin-left: 0;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    text-transform: uppercase;
}

.vesture .flex{
    flex-wrap: wrap;
}
.vesture .flex div{
    margin-bottom: 13px;
}
.vesture .flex h1{
    margin: 0;
    margin-bottom: 0 !important;
    text-align: left !important;
    font-size: 15px;
}
.vesture .flex p{
    margin: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
}
.year{
    width: 10%
}
.year-text{
    width: 90%
}


.par_mums #main_info p{
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 21px;
    text-align: justify;
    margin-bottom: 40px;
}
.vesture h3{
  margin:0px !important;
}
.green_header{
  text-align:center;
  font-weight:bold;
  margin-bottom:0px;
  font-size:24px;
  margin-top:40px;
}

.green_underline{
  border-bottom:3px solid #2eb950;
  padding-bottom:0px;
  font-family: "Poppins Bold", sans-serif;
}

.par_mums #main_info h3 {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 15px;
}
.flex-dalibskolas{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right:-25px;

}
.quote h2 {
  text-align:left !important;
  margin-bottom:0px !important;
}
.flex-prog {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -27px;
  clear: both;
}
.one-flex{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 185px;
  width: 225px;
  padding: 10px;
  margin: 13px;
  box-sizing:border-box;
  margin-right: 0px;
  margin-left: 26px; 
  position:relative;   
  border-radius:8px;
}

.flex-act{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 225px;
  width: 225px;
  padding: 10px;
  margin: 13px;
  box-sizing:border-box;
  margin-right: 0px;
  margin-left: 26px; 
  position:relative;   
  color:white;
  cursor:pointer;
}
.ped-act .flex-act{
  margin-left:25px;
}
.flex-act img{
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  width:225px;
  height:225px;
  z-index:-1;
}

.act-hover{
  font-size:12px;
  display:none;
}
.flex-act:hover .act-text{
  display:none;
}
.flex-act:hover .act-hover{
  display:block;
}

#quote.quote-1{
  background-image:url(/img/fin-pratiba/quote1.png);
}
#quote.quote-2{
  background-image:url(/img/fin-pratiba/quote2.png);
}
#quote.quote-3{
  background-image:url(/img/fin-pratiba/quote3.png);
}
.quote-list{
  position: relative;
  left: 20%;
  padding-top: 27px;
  padding-bottom: 27px;
  height: 100%;
  width:60%;
  display:flex !Important;
  align-items:center;
}
.slick-list.draggable{
  height:100%;
}

.quote-list .green-border-1 {
  left:0;
}
.quote-list .green-border-2 {
  left:0;
  top:0;
}
.quote-list .green-border-3 {
  left:0;
}
.quote-list .quote{
  left:0;
  margin-top:90px;
}
.quote-list .quote.video{
  margin-top:0px;
  text-align:center;
}
.quote-list .quote h2,.quote-list .quote p{
  margin-left:50px;
}
.quote-list .quote.video{
}
.quote-list .quote p{
  width:770px;
}
.pedapm_video{
  margin:0 auto;
  text-align:center;
  margin-top:40px;
  margin-bottom:-40px;
}
.main-flex .one-flex .flex-hover{
  display:none;
}
.main-flex .one-flex:hover .flex-hover{
  background:#24bc4b;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  border-radius:10px;
  text-align:center;
  display:flex;
  justify-content:center;
  color:white;
  flex-direction: column;
  padding:10px;
}
.main-flex .one-flex .flex-hover p:last-child{
  font-size:13px !important;
  margin-top:20px !important;
}
.main-flex .one-flex .flex-hover p{
  color:white !important;
}
.slick-arrow.slick-prev{
  left:-150px;
}
.slick-arrow.slick-next{
  right:-100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);   
  
}
.slick-arrow.slick-prev, .slick-arrow.slick-next{
  width:50px;
  height:50px;
  background:rgba(255,255,255,0.3);
  color:white;
  position: absolute;
  top: 50%;
  line-height:0;
  color: rgba(0,0,0,0);
  border: none;
  border-radius: 50px; 
  background-image: url(/img/white_arrow.png);
  background-position:50% 50%;
  background-repeat:no-repeat;
}
.green-flex{
  color:white;
  background:#24bc4b;
  text-align:center;
}
.one-flex.green-flex p {
  color:white !important;
  font-size:13px !important;
}
.green-flex div:first-child{
  height:70px;
}
.main-flex .one-flex img{
  height:40px;
}
.one-flex img{
    height:53px;
    margin-bottom:21px;
}
.one-flex div:first-child{
  /*height:80px;*/
}
.one-flex p{
    font-size: 16px !important;
    font-family: "Poppins" !important;
    color: #535353 !important;
    line-height: 19px !important;
    text-align: center !important;
    margin: 0 !important;
    padding-bottom: 0.5vw !important;
}
.capture_par_mums_mobile{
    display:none
}
.a{
    width: 50%
}
.add.one-flex img{
    width: auto !important;
    margin-bottom:30px !important;
    margin-top:30px !important;
    height:33px !important;
}
.about_us_head{
  padding-right:70px;
  float:left;
  font-size:20px;
  font-weight:bold;
}
.about_us_content{
  overflow:hidden;
}
.spbutton{
  font-family: "Poppins", sans-serif;
  background-color: #16B01A !important;
  color: white;
  font-size: 13px !important;
  padding: 0.5vw 27px;
  margin: 0 auto;
  border: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-transform: uppercase;
}
.lideru_table{
  position: absolute;
  right: 80px;
  width: 400px;
  top:-21px;
  font-size:12px;
  color: white;
}
.lideru_table table{
  background:rgba(255,255,255,0.2);
  padding:5px;
  border-radius:5px;
  text-align:center;
  border:1px solid rgba(255,255,255,0.2);
}
.lideru_table table td{
  padding:12px 10px;
  width:50%;
  height:50%;
}
.lideru_table table td:first-child{
  border-right:1px solid white;
}

.lideru_table table tr:first-child td{
  border-bottom:1px solid white;
}

.gray_quote{
  background:#f6f6f6;
  padding:23px;
}
.col {
  float:left;
  overflow:hidden;
}

.col1{
  margin-right:20px;
  width:60%;
}
.col2{
  width:37%;
}

.hidden-text{
  display:none;
}
.expand{
  text-decoration:underline;
  color:#494949;
  cursor:pointer;
}
@media screen and (max-width: 900px){
    #map {
        height: 150vw;
    }
    .close-map {
        font-size: 3.5vw;
        padding: 13px 40px;
    }
    .capture_top {
        position: absolute;
        width: 77%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 70vw;
    }
    .capture_top h2 {
        text-align: center;
        font-size: 70px;
        line-height: 1.3;
        padding-bottom: 40px;
    }
    #main_info {
        padding-top: 28px;
        padding-bottom: 28px;
        width: 80%;
    }
    .mentori {
        width: 100%;
        flex-direction: column;
        align-items:center;
    }
    .mentori div {
        width: 100%;
        margin-bottom: 70px;
    }
    .materiali div{
      width:290px !important;
    }
    .materiali{
      margin-top:30px;
    }
    .mentori h2 {
        font-size: 4vw;
        margin: 27px;
    }
    .mentori p{
        font-size: 3.5vw;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-top: 10px;
    }
    .mentori h3{
        font-size: 3.5vw;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-top: 10px;
    }

    #main_info h1 {
        margin: auto;
        margin-top: 18px;
        margin-bottom: 18px;
        text-align: center;
        font-size: 25px;
        text-transform: inherit;
        font-weight: 700;
        width: 70%;
    }
    .separate .flex{
        flex-direction: column
    }
    .separate .flex div {
        width: 100%;
    }
    .separate h2 {
        line-height: 1.5;
        margin-bottom: 27px;
    }
    .separate h5{
        font-size: 20px;
    }
    .separate p {
        font-size: 20px;
    }
    .separate .flex div{
        margin-bottom: 138px;
        margin-top: 138px
    }




    .vesture .flex div {
        margin-bottom: 70px;
        width: 100%;
    }
    .vesture .flex h1{
        margin: auto;
        margin-top: 0;
        margin-bottom: 138px;
        text-align: center;
        font-size: 7vw !important;
        text-transform: inherit;
        font-weight: 700;
        width: 100%;
        text-align: center !important;
    }
    .vesture .flex p {
        font-size: 70px;
        text-align: justify
    }


    .par_mums .capture_top p {
        display:none;
        font-size: 3.2vw;
        line-height: 1.2;
        text-align: justify;
    }
    .par_mums .capture_par_mums_mobile{
        display: block;
        margin-bottom: 70px;
    }
    .par_mums .capture_par_mums_mobile p{
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }
    .par_mums #main_info p {
        margin: 0;
        font-size: 20px !important;
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        line-height: 1.3;
        text-align: justify;
    }
    .par_mums #main_info h3  {
        margin: 7vw;
        text-align: center;
        font-size: 4vw;
        font-weight: 900;
    }
    .flex-dalibskolas {
        flex-wrap: wrap;
    }
    .one-flex {
        height: 40vw;
        width: 40%;
        padding: 13px;
        margin: 13px;
    }
    .one-flex img {
        width: 15vw;
    }
    .add.one-flex img{
        width: 25vw !important;
    }
    .one-flex p {
        font-size: 20px !important;
        line-height: 2 !important;
    }
    .captures-about{
        justify-content: center;
    }
    .a {
        width: 100%;
    }
    .about_us_head{
      float:none;
    }
    .mentori.people > div{
      width:290px;
    }
    #biedri_cont h3{
      font-size:25px !important;
    }
    .mentori div:nth-child(5), .mentori div:nth-child(10){
      margin-right:25px;
    }
    .capture_top p,.lideru_table{
      display:none;
    }
}