.profile-bg {
    background-image: url(../img/profile.png) !important;
    background-position: center;
}
.profile {
    width: 80%;
    margin: auto;
    margin-top: 67px;
}

#regmenubox {
    margin-top: 80px;
}

#regmenubox ul {
    display: flex;
    width: max-content;
    width: -moz-max-content;
}

#regmenubox ul li {
    margin-rigth: 30px;
    height: 30px;
}

#regmenubox ul li a:hover {
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}

#regmenubox a {
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 1vw;
    padding: 0.5vw 2vw;
    margin: 1vw;
    margin-left: 0;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    text-transform: uppercase;
}

/*.active-link {*/
    /*color: #2cc654 !important;*/
    /*background-color: rgba(35,192,76,0.2) !important;*/
    /*border: 1px solid rgba(35,192,76,0.2) !important;*/
/*}*/

.main-tab {
    display: flex;
}

.main-tab a {
    margin-left: 20px;
    text-transform: capitalize;
    background-color: #757575;
}

.active-tab {
    background-color: #757575 !important;
}

#profiletable {
    margin-bottom: 93px;
}

.profile-head {
    display: flex;
    margin-bottom: 23px;
    justify-content: center;
    align-items: center;
}

.profile-head a {
    margin-left: 77px;
    text-align: center;
    background-color: #c5c5c5 !important;
}

.profile-head h2 {
    font-weight: bold;
    margin-left: 28px;
    font-size: 1.3vw;
}

.profile-pupil-info h2 {
    font-weight: bold;
    margin-left: 28px;
    font-size: 1.3vw;
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: center;
    font-size: 1vw;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

#delete-profile {
    justify-content: left;
    margin-bottom: 0;
    margin-left: 250px;
}

.delete-info {
    width: 610px;
    margin: auto;
    margin-bottom: 150px;
    font-size: 1vw;
}

.delete-info-email {
    color: #24bc4b;
}

#profile-change {
    flex-direction: row;
    margin-top: 66px;
    margin-bottom: 183px;
}

#profile-change .profile-head {
    padding-left: 25vw;
    justify-content: left;
}

#pass1 input, #passw2 input, #oldpassword input, .addinput input {
    border: none;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F6F6F6;
    height: 30px;
    text-indent: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 16vw;
    font-size: 0.8vw;
}

.addinput {
    text-align: right;
}

/*.addinput input:disabled, span {*/
    /*color: #d4d4d4;*/
/*}*/

.addinput span {
    font-size: 1vw;
}

#profile-soc {
    width: 50%;
    margin: auto;
    font-family: "Poppins", sans-serif !important;
}

.profile-change {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 50%;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

#table_id, #apstiprinatie, #pamatskola {
    font-size: 1vw;
    width: 80% !important;
}

/*.dataTables_wrapper  {*/
    /*margin-bottom: 40px;*/
    /*border-radius: 5px;*/
    /*padding: 50px;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
/*}*/

#pamatskola_wrapper {
    display: none;
}

.dataTable {
    border: 1px solid #eeeeee;
    border-radius: 7px;
    border-bottom: none !important;
}

.dataTables_paginate {
    float: none !important;
    text-align: center !important;
}

.dataTable th {
    color: #757575;
}

.dataTable td {
    text-align: center !important;
}

.dataTable thead th, .dataTable thead td {
    padding: 15px 0.2vw !important;
    border: 1px solid #eeeeee !important;
}

.dataTable .no-footer {
    border: none !important;
}

.dataTable td {
    border: 1px solid #eeeeee;
}

.status-btn {
    font-family: "Poppins", sans-serif;
    color: #d0d0d0;
    font-size: 1vw !important;
    cursor: pointer;
    text-align: center;
    /*background: url("../img/no.png") no-repeat;*/
}

.labot-btn {
    font-family: "Poppins", sans-serif;
    color: #d0d0d0;
    font-size: 1vw !important;
    cursor: pointer;
    text-align: center;
}

.labotBtn:active {
    background: #24bc4b;
}

.column-btn {
    padding: 0 !important;
    text-align: center;
}

.column-btn-st {
    display: flex;
    justify-content: space-around;
}

.control-panel {
    display: flex;
    margin-bottom: 63px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.control-panel h2 {
    margin: 0 !important;
    margin-bottom: 30px !important;
}

.control-btn a {
    margin: 20px !important;
}

.control-btn-one {
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #d0d0d0;
    font-size: 1vw !important;
    padding: 0.5vw 2vw;
    cursor: pointer;
    text-align: center;
}

.paginate_button  {
    background: #cccccc !important;
    text-align: center;
    font-size: 1vw;
    color: white !important;
    border-radius: 0 !important;
    border: none !important;
    margin: 0 0.29rem !important;
}

.current {
    background-color: #757575 !important;
    color: white !important;
}
.dataTables_paginate {
    margin-top: 1rem !important;
}

.dataTable .odd {
    background-color: white !important;
}

.sorting_1 {
    background-color: white !important;
}

.noradit {
    background-color: #24bc4b;
    color: white;
}

.noradit-no {
    background: url("../img/no.png") no-repeat;
    background-position: center;
}

.astiprinat-yes {
    background: url("../img/yes.png") no-repeat;
    background-position: center;
}

td p {
    margin: 0;
    padding: 15px;
    width: 50%;
}

.activaite-btn {
    cursor: pointer;
    color: white;
    font-size: 1vw !important;
}

.submitTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.submitTab p {
    width: 30%;
    font-size: 0.6vw;
    text-align: center;
    margin: auto
}

.tableBox {
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tableBox h2 {
    font-weight: bold;
    margin-left: 28px;
    font-size: 1.3vw;
    text-align: center;
}

.sertBtn {
    background-color: #c5c5c5 !important;
}

.submitBtnAll, .sertBtn {
    margin-right: 0 !important;
}

#table_id .sorting,  #table_id .sorting_asc, #table_id .sorting_desc {
    background : none;
}

#apstiprinatie .sorting,  #apstiprinatie .sorting_asc, #apstiprinatie .sorting_desc {
    background : none;
}


.dt-buttons {
    display: none;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4%;
    margin-left: 5%;
    margin-bottom: 15px;
}

.dt-buttons p {
    color: #a6a6a6;
    font-size: 13px;
}

.buttons-excel {
    width: 32px;
    height: 22px;
    /*font-size: 12px;*/
    font-family: inherit;
    background-color: #e44465;
    color: white;
    border: none;
    margin-right: 5px;
    padding: 0;
    margin-left: auto;
}

.buttons-pdf {
    width: 32px;
    height: 22px;
    /*font-size: 12px;*/
    font-family: inherit;
    background-color: #53bc7d;
    color: white;
    border: none;
    padding: 0;
}

#klasseSrt, #datumsSrt {
    width: 70px;
    height: 22px;
    font-size: 12px;
    font-family: inherit;
    background-color: #a6a6a6;
    background-image: url(http://cdn.datatables.net/1.10.19/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    color: white;
    border: none;
    margin-right: 5px;
    margin-left: 15px;
    align-items: start;
}

.sorting-asc {
    background-color: #53bc7d !important;
    background-image: url(http://cdn.datatables.net/1.10.19/images/sort_asc.png) !important;
    background-repeat: no-repeat;
    background-position: right;
}

.sorting-desc {
    background-color: #53bc7d !important;
    background-image: url(http://cdn.datatables.net/1.10.19/images/sort_desc.png) !important;
    background-repeat: no-repeat;
    background-position: right;
}

#klasseSrt:hover, #datumsSrt:hover {
    cursor: pointer;
}

.smu-border {
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.smu-name {
    width: 20%;
}

.smu-profile {
    margin-top: -5px;
}

.info-smu {
    display: flex;
    padding-left: 40px;
    font-size: 1vw;
    padding-top: 31px;
    padding-bottom: 54px;
}

.documents {
    margin-left: 50px;
    width: 50%;
}

.docs {
    display: flex;
    flex-direction: row;
}

.activitate {
    display: flex;
    float: row;
}

.smu-name h2 {
    font-weight: bold;
    font-size: 1.3vw;
}

.smu-button {
    width: 20%;
    padding-top: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.docs-card {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-right: 30px;
    align-items: center;
    padding: 5px 10px;

}

.docs-card p {
    font-size: 0.7vw;
    margin-left: 0.7rem
}

.open-info-smu {
    color: #010000;
    font-family: "Poppins", sans-serif;
}

.company-detail {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1vw;
    padding-top: 31px;
    padding-bottom: 54px;
    display: none;
}

.company-header {
    display: flex;
}

.company-info {
    border-top: 1px solid #c5c5c5;
    padding-top: 35px;
}

#company-table, #table-service, #table-apliecibas  {
    border-collapse: collapse;
    width: 100%;
}

#company-table td, th{
    border: 1px solid #c5c5c5;
}

#table-apliecibas td, th {
    border: 1px solid #c5c5c5;
}
#table-apliecibas td {
    padding: 10px;
}

#table-apliecibas {
    margin-bottom: 50px;
    font-size: 1vw;
}

.show {
    display: block;
}

#company-table tr, th {
    padding: 20px;
}

#table-service td, th {
    border: 1px solid #c5c5c5;
}

#table-service td {
    padding: 10px;
}

.table-salary td {
    padding: 10px;
}

.button-tab {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header-apliciebas {
    font-weight: bold;
    margin-left: 28px;
    font-size: 1.3vw;
    text-align: center;
}
.profile-pupil-bg {
    background-image: url(../img/profile-bg-pupil.png) !important;
    background-position: center;
}

.profile-pupil-info {
    font-size: 1vw;
    width: 60%;
    margin: auto;
    margin-bottom: 3vw;
}

.profile-pupil-info p {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 1px;
}

.pupil-info, .pupil-parent, .pupil-smu {
    padding-bottom: 1vw;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 15vw;
    margin-top: 1vw ;
}

.pupil-parent {
    display: none;
}

.pupil-smu {
    border-bottom: none;
}

.confirmation {
    display: none;
    align-items: center;
    flex-direction: column;
}

.confirmation ol {
    width: 75%;
}

.confirmation li {
    color: black;
    font-weight: normal;
    list-style-type: decimal;
    padding-bottom: 0.1vw;
}

.status {
    display: none;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 2vw;
}

.status h2 {
    font-weight: bold;
    margin-left: 28px;
    font-size: 1.3vw;
}

.status-info {
    color: grey !important;
}

.parent-full-name, .full-name, .pupil-smu-name {
    padding-top: 1vw;
}

#compinfo textarea {
    border: none;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F6F6F6;
    text-indent: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
    font-size: 0.8vw;
}

#compinfo select {
    width: 51%;
}

.changeprofile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    padding-right: 15vw;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#compinfo p {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 15px;
    margin-bottom: 20px;
}

#removeemp .emprow {
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.empname, .empemail {
    display: flex;
    align-items: baseline;
}

.empname span, .empemail span {
    margin-right: 5px;
}

#addemp {
    margin-left: 17vw;
}

.addemp {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.addemp form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addbutton {
    margin-right: 4vw;
}
