.profile-bg {
    background-image: url(../img/profile.png) !important;
    background-position: center;
}
.profile {
    width: 80%;
    margin: auto;
    margin-top: 67px;
}

#regmenubox {
    margin-top: 80px;
}

#regmenubox ul {
    display: flex;
    width: max-content;
    width: -moz-max-content;
}

#regmenubox ul li {
    margin-rigth: 30px;
    height: 30px;
}

#regmenubox ul li a:hover {
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}

#regmenubox a {
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 1vw;
    padding: 0.5vw 2vw;
    margin: 1vw;
    margin-left: 0;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    text-transform: uppercase;
}

.active-link {
    color: #2cc654 !important;
    background-color: rgba(35,192,76,0.2) !important;
    border: 1px solid rgba(35,192,76,0.2) !important;
}

.main-tab {
    display: flex;
    margin-bottom: 113px;
}

.main-tab a {
    margin-left: 20px;
    text-transform: capitalize;
}

#profiletable {
    margin-bottom: 93px;
}

.profile-head {
    display: flex;
    margin-bottom: 63px;
    justify-content: center;
    align-items: center;
}

.profile-head a {
    margin-left: 77px;
    text-align: center;
    background-color: #c5c5c5 !important;
}

.profile-head h2 {
    font-weight: bold;
    margin-left: 28px;
}

.profile-info {
    display: flex;
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tabs .spbutton {
    background-color: #757575 !important;
}

#delete-profile {
    justify-content: left;
    margin-bottom: 0;
    margin-left: 250px;
}

.delete-info {
    width: 610px;
    margin: auto;
    margin-left: 531px;
    margin-bottom: 317px;
}

.delete-info-email {
    color: #44a251;
}

#profile-change {
    flex-direction: row;
    margin-top: 66px;
    margin-bottom: 183px;
}

#profile-change .profile-head {
    padding-left: 500px;
    justify-content: left;
}

#pass1, #passw2, #oldpassword {
    display: flex;
    flex-direction: row-reverse;
}

#pass1 input, #passw2 input, #oldpassword input, .addinput input {
    border: none;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F6F6F6;
    height: 30px;
    text-indent: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
}

#profile-soc {
    width: 50%;
    margin: auto;
    font-family: "Poppins", sans-serif !important;
}

#forma {
    width: 21%;
}

.entry_section {
    border: 2px solid #B4B4B4;
    border-radius: 5px 5px 5px 5px;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
}

.entry_section_title {
    margin-bottom: 10px;
    border-bottom: 1px solid #B4B4B4;
    padding-bottom: 3px;
}





