.profile-bg {
    background-image: url(../img/profile.png) !important;
    background-position: center;
}
.profile {
    width: 80%;
    margin: auto;
    margin-top: 67px;
}

#regmenubox {
    margin-top: 80px;
}

#regmenubox ul {
    display: flex;
    width: max-content;
    width: -moz-max-content;
}

#regmenubox ul li {
    margin-rigth: 30px;
    height: 30px;
}

#regmenubox ul li a:hover {
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}

#regmenubox a {
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 1vw;
    padding: 0.5vw 2vw;
    margin: 1vw;
    margin-left: 0;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    text-transform: uppercase;
}

.active-link {
    color: #2cc654 !important;
    background-color: rgba(35,192,76,0.2) !important;
    border: 1px solid rgba(35,192,76,0.2) !important;
}

.main-tab {
    display: flex;
}

.main-tab a {
    margin-left: 20px;
    text-transform: capitalize;
}

#profiletable {
    margin-bottom: 93px;
}

.profile-head {
    display: flex;
    margin-bottom: 63px;
    justify-content: center;
    align-items: center;
}

.profile-head a {
    margin-left: 77px;
    text-align: center;
    background-color: #c5c5c5 !important;
}

.profile-head h2 {
    font-weight: bold;
    margin-left: 28px;
    font-size: 1.3vw;
}

.profile-info {
    display: flex;
    justify-content: center;
    font-size: 1vw;
}

.tabs {
    display: flex;
    justify-content: center;
}

#delete-profile {
    justify-content: left;
    margin-bottom: 0;
    margin-left: 250px;
}

.delete-info {
    width: 610px;
    margin: auto;
    margin-bottom: 150px;
    font-size: 1vw;
}

.delete-info-email {
    color: #44a251;
}

#profile-change {
    flex-direction: row;
    margin-top: 66px;
    margin-bottom: 183px;
}

#profile-change .profile-head {
    padding-left: 25vw;
    justify-content: left;
}

#pass1, #passw2, #oldpassword {
    display: flex;
    flex-direction: row-reverse;
}

#pass1 input, #passw2 input, #oldpassword input, .addinput input {
    border: none;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F6F6F6;
    height: 30px;
    text-indent: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 16vw;
    font-size: 0.8vw;
}

.addinput {
    text-align: right;
}

.addinput span {
    font-size: 1vw;
}

#profile-soc {
    width: 50%;
    margin: auto;
    font-family: "Poppins", sans-serif !important;
}

.profile-change {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 50%;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

#table_id, #apstiprinatie, #pamatskola {
    font-size: 1vw;
    width: 100% !important;
}

.dataTables_wrapper  {
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#pamatskola_wrapper {
    display: none;
}

.dataTable {
    border: 1px solid #eeeeee;
    border-radius: 7px;
}

.dataTables_paginate {
    float: none !important;
    text-align: center !important;
}

.dataTable thead th, .dataTable thead td {
    padding: 0 !important;
    border: 1px solid #eeeeee !important;
}

.dataTable .no-footer {
    border: none !important;
}

.dataTable td {
    border: 1px solid #eeeeee;
}

.status-btn {
    font-family: "Poppins", sans-serif;
    color: #d0d0d0;
    font-size: 1vw !important;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}

.labot-btn {
    font-family: "Poppins", sans-serif;
    color: #d0d0d0;
    font-size: 1vw !important;
    cursor: pointer;
    text-align: center;
}

.column-btn {
    padding: 0 !important;
    text-align: center;
}

.control-panel {
    display: flex;
    margin-bottom: 63px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.control-panel h2 {
    margin: 0 !important;
    margin-bottom: 30px !important;
}

.control-btn a {
    margin: 20px !important;
}

.control-btn-one {
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #d0d0d0;
    font-size: 1vw !important;
    padding: 0.5vw 2vw;
    cursor: pointer;
    text-align: center;
}





