#banner {
    height: 46vw;
    background-image: url(../img/background_dalibskolas.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
.capture_projekti{
    position: absolute;
    margin-top: 20vw;
    margin-left: 12vw;
    z-index: 2;
    width: 45%;
}
.capture_projekti h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 1.1;
    padding-bottom: 13px;
}
.capture_projekti p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
.capture_projekti span {
    color: #2cc654;
    line-height: 40px;
}
#buttons_projekti{
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 30vw;
    width: 100%;
    justify-content: flex-end;
    right: 18vw;
}
#buttons_projekti button{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 13px;
    padding: 0.5vw 13px;
    margin: 13px;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}
#buttons_projekti button:hover{
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}
#main_projekti{
    margin-top: 70px;
    margin-bottom: 70px;
}
.wrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
.wrapped{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 13px;
}
.wrapped div{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.project-bt button:hover{
    color: #2cc654;
    border: 1px solid #2cc654
}

.wrapped img{
    width: 138px;
    padding: 27px;
}
.wrapped h1{
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1.6vw;
    margin-bottom: 11px;
}
.wrapped p{
    font-size: 9px;
    font-family: "Poppins";
    color: rgb(159, 159, 159);
    line-height: 13px;
    text-align: left;
    margin: 0;
}
/*
.project_logo{
    width: 15vw;
}
*/
.project-bt{
    margin-left: 13px;
}
.project-bt button{
    font-family: "Poppins", sans-serif;
    color: rgba(0,0,0,0.7);
    font-size: 13px;
    padding: 0.3vw 13px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
}
.project-bt a {
    font-family: "Poppins", sans-serif;
    color: rgba(0,0,0,0.7);
    font-size: 13px;
    font-weight: 500;
}
.project-tx{
    width: 60%;
}
.capture_mobile{
    display: none;
}
@media screen and (max-width: 900px){
    .capture_projekti p{
        display: none;
    }
    .capture_mobile {
        display: block;
        width: 100%;
        margin: auto;
        padding:38px 25px;
        box-sizing:border-box;
    }
    .wrap{
        width: 100%;
        margin: auto;
        padding:38px 25px;
        box-sizing:border-box;
    }
    .capture_mobile p {
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        font-size: 20px !important;
        line-height: 1.5;
        text-align: justify;
        margin: 0;
    }
    .capture_vardnicina p {
        display: none;
    }
    .project-bt a {
        color: rgba(0,0,0,0.7);
        font-size: 4vw;
    }
    #partners{
        display: none !important
    }
    .wrapped {
        flex-direction: column;
        box-sizing: border-box;
    }
    .wrapped div{
        width: 100% !important;
    }
    .wrapped img {
        width: 60%;
        padding: 10px;
        margin: auto;
    }
    .wrapped h1 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 40px;
    }
    .wrapped p {
        font-size: 20px;
        color: black;
        line-height: 1.5;
        text-align: justify;
    }
    .project-bt button {
        font-size: 20px;
        padding: 27px;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
    }
    .project-bt{
      margin-left:0px;
    }
}