body{
  padding:0px;
  margin:0px;
}
.catalog #topmenu ul{
  display:none;
}
body #banner{
  background-image:none;
}
#link-top.show{
  background-color:rgba(206,206,208,0.8);
}

.smu_shop_frame,.smu_shoplist_frame{
  width:80%;
  margin:0 auto;
  margin-top:-80px;
  z-index: 9999;
  position: relative;
}
.smu_shoplist_frame{
  margin-top:30px;
}
.smu_shop_title_section{
  display:flex;
  flex-wrap:wrap;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow:hidden;
  background:white;
  box-shadow: 0 0 3px rgb(0 0 0 / 36%);

}
.smu_shop_logo{
  width:200px;
  height:200px;
  overflow:hidden;
}
.smu_shop_logo img{
  width:200px;
  object-fit: cover;
}

.smu_shop_compname_section{
  background:white;
  padding:20px;
  display:block;
  box-sizing:border-box;
  width: calc(100% - 200px);
  position:relative;
}
.smu_shop_title{
  font-size: 34px;
  font-weight: 600;
}
.smu_shop_media_frame{
  position:absolute;
  right:0px;
  top:0px;
  width: 250px;
  height: 100%;
}
.smu_shop_aboutus{
  margin-bottom: 40px;
  border-radius: 5px;
  overflow:hidden;
  /*padding:20px;*/
  display:block;
  box-sizing:border-box;
  flex: 1 1 0px;
}
.youtube_section a img{
  width:80%;
}
.youtube_section .play_button{
  position:absolute;
  left:40%;
  margin-left:-30px;
  top:50%;
  margin-top:-30px;
}
.youtube_section .play_button img{
  width:60px;
}
.smu_shop_contacts_frame,.smu_shoplist_content{
  margin-bottom: 40px;
  border-radius: 5px;
  overflow:hidden;
  box-shadow: 0 0 3px rgb(0 0 0 / 36%);
  padding:20px;
  display:block;
  box-sizing:border-box;
}
.smu_shop_aboutus_title,.smu_shop_item_title,.smu_shop_contacts_title{
  font-weight: 600;
  margin-bottom:20px;
}
.smu_shop_aboutus_text{
  font-size:14px;
}

.smu_shop_item_list,.smu_shoplist,.employee_list{
  display:flex;
  flex-wrap:wrap;
  margin-right:-2%;
}
.smu_shoplist_logo{
  width:100%; 
  max-height: 200px;
  overflow: hidden;
}
.smu_shoplist_logo img{
  width:100%;
  object-fit: cover;
  border-radius:5px;
}
.smu_shoplist{
  margin-right:-4%;
}
.smu_shop_searchbox{
  text-align:center;
  padding:30px;
}
.smu_shop_searchbox input{
  border:1px solid #f0f1f0;
  color:#333;
  padding:8px 20px 8px 10px;
  font-size:14px;
  width:300px;
}
.smu_shoplist .smu_shoplist_smu{
  margin-right:4%;
  width:21%;
}
.smu_shop_item_image{
  width:100%;
  height:200px;
  overflow:hidden;
}
.smu_shop_item_image img{
  width:100%;
  object-fit: cover;
  transition: transform .2s;
}
.smu_shop_item_image:hover img{
  transform: scale(1.3);
}
.smu_shoplist_details{
  padding:8px;
  text-align:center;
  font-size:12px;
}
.smu_shoplist_school{
  font-weight:300;
}
.smu_shoplist_district{
  font-weight:200;
}
.smu_shoplist_smu_separator{
  border-bottom:1px solid #eee;
  margin:5px 10px;
}
.smu_shoplist_smu_prodspec{
  font-weight:400;
}
.smu_shoplist_name{
  font-weight:bold;
  font-size:14px;
}
.smu_shop_single_item,.smu_shoplist_smu{
  margin-right:2%;
  width:23%;
  margin-bottom: 40px;
  border-radius: 5px;
  /*overflow:hidden;*/
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  display:block;
  box-sizing:border-box;
  position:relative;
}
.smu_shop_item_details{
  padding:8px 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.smu_shop_media_top{
  position:absolute;
  top:10px;
  right:10px;
}

.smu_shop_media_bottom{
  position:absolute;
  bottom:10px;
  right:10px;
}
.smu_shop_media a,.smu_shop_media_full a{
  background-repeat:no-repeat;
  background-size:20px 20px;
  width:20px;
  height:20px;
  display: block;
  transition: all 0.3s;

}
.smu_shop_media{
  float:left;
  margin-left:15px;
}
.smu_shop_media.externalpage a,.field_row.media_field.externalpage .field_wrap{
  background-image:url(/img/shop_svg/world@2x.svg);
}
.smu_shop_media.externalpage a:hover,.field_row.media_field.externalpage .field_wrap:hover{
  background-image:url(/img/shop_svg/world-hover@2x.svg);
}

.smu_shop_media.fbpage a,.field_row.media_field.fbpage .field_wrap{
  background-image:url(/img/shop_svg/facebook@2x.svg);
}
.smu_shop_media.fbpage a:hover,.field_row.media_field.fbpage .field_wrap:hover{
  background-image:url(/img/shop_svg/facebook-hover@2x.svg);
}
.smu_shop_media.instagrampage a,.field_row.media_field.instagrampage .field_wrap{
  background-image:url(/img/shop_svg/instagram@2x.svg);
}
.smu_shop_media.youtubepage a,.field_row.media_field.youtubepage .field_wrap{
  background-image: url(/images/youtube-play.png);
  background-size: 24px;
}
.smu_shop_media.instagrampage a:hover,.field_row.media_field.instagrampage .field_wrap:hover{
  background-image:url(/img/shop_svg/instagram-hover@2x.svg);
}
.smu_shop_media.twitterpage a,.field_row.media_field.twitterpage .field_wrap{
  background-image:url(/images/TikTok.svg);
}
/*
.field_row.media_field.twitterpage .field_wrap:hover{
  background-image:url(/img/shop_svg/twitter-hover@2x.svg);
}
*/
.field_row.media_field.contactemail .field_wrap:hover{
  background-image:url(/img/shop_svg/email-hover@2x.svg);
}
.field_row.media_field.contactemail .field_wrap{
  background-image:url(/img/shop_svg/email@2x.svg);
}
.smu_shop_media_full.contactemail a{
  background-image:url(/images/mail_green.svg);
  background-size:15px;
  background-position:0px 3px;
}
.smu_shop_media_full.externalpage a{
  background-image:url(/images/world_green.svg);
  background-size:15px;
  background-position:0px 2px;
}
.smu_shop_contacts_large_media{
  float:left;
}
.smu_shop_contacts_small_media{
  float:right;
}
.smu_shop_contacts_large_media{
  display:flex;
  flex-wrap:wrap;
}
.smu_shop_media_full{
  display:block;
  margin-right:20px;
  background-color:#f7f8f7;
  padding:5px 15px 5px 9px;
  border-radius:4px;
  font-style:italic;
  font-size:14px;
}
.smu_shop_media_full a{
  width:auto;
  height:auto;
  padding-left:35px;
  background-position:0px 0px;
}
.smu_shop_media_inline{
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  display: flex;
}
.smu_shop_media_inline .smu_shop_media_full{
  background:none;
  margin-right:20px;
  color:#23bb4b;
  font-style:unset;
}
.paginationjs-pages ul{
  display:flex;
}
.paginationjs-pages ul li{
  margin-right:7px;
}
.paginationjs-pages ul li.paginationjs-page a{
  width:40px;
  height:40px;
  display:block;
  text-align:center;
  line-height:40px;
}
.paginationjs-pages ul li.paginationjs-page.active a{

  background:#747574;
  color:white;
}
.paginationjs-pages{
  display: flex;
  justify-content: center;
}
.paginationjs-pages ul li.paginationjs-prev,.paginationjs-pages ul li.paginationjs-next a{
  background:#cbcccb;
  height:40px;
  display:block;
  text-align:center;
  line-height:40px;
  padding:0px 8px;
  color:white;
}

.field_row.disabled{
  opacity:0.6;
}
.field_row.media_field .field_wrap{
  background-repeat:no-repeat;
  background-size:20px 20px;
  height:25px;
  display: block;
  padding-left:30px;
  transition: all 0.3s;
  background-position:0px 3px;
}
.smu_images .field_col{
  background:none;
  display:flex;
  flex-wrap:wrap;
}
.smu_images .logo_template{
  width:30%;
  margin-right:5px;
  height:150px;
  overflow:hidden;
  position:relative;
  border-radius:5px;
}
.smu_images .background_template{
  width:65%;
  height:150px;
  overflow:hidden;
  position:relative;
  border-radius:5px;
}
.smu_images .logo_template img{
  width:100%;
  object-fit: cover;
}
.smu_images .background_template img{
  width:100%;
  object-fit: cover;
}
.edit_image{
  position:absolute;
  bottom:0px;
  width:100%;
  height:30px;
  background-color:rgba(141, 141, 141, 0.7);
  color:white;
  text-align:center;
  text-transform: uppercase;
  line-height:30px;
  cursor:pointer;
}
.remove_item{
  width:70%;
  height:30px;
  background-color:rgba(141, 141, 141, 0.7);
  color:white;
  text-align:center;
  text-transform: uppercase;
  line-height:30px;
  cursor:pointer;
  margin-bottom: 10px;
}
.colorlist{
  background: #f1f1f1;
  width: 70%;
  padding: 10px 18px;
  box-sizing: border-box;
  min-height: 25px;
  border: none;
  font-size: 16px; 
  position:relative;
  margin-bottom:10px;
  display:flex;
}
.add_color{
  position:absolute;
  right:2px;
  top:2px;
}
.new_color{
  position:relative;
  display: flex;
}
.sp-colorize-container{
  width:30px !important;
  height:30px;
  border-radius:4px;
  color:1px solid #ddd;
}
.color_wrap{
  float:left;
}
.color_wrap input{
  width:30px;
  height:30px;
  border-radius:4px;
  background: transparent;
  border: none;
  color: rgba(1,1,1,0);
  position:absolute;
  left:0px;
}
.color_input{
  margin-right:10px;
}
.new_color .submit{
  margin-right:10px;
  cursor:pointer;
}
.new_color .cancel{
  cursor:pointer;
}
.colorlist .placeholder{
  color:#333;
}
.color_input input{
  height:26px;
  border: 1px solid #ddd;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.colorlist .color {
  display:flex;
  margin-right:3px;
  border-radius:4px;
  border:1px solid #ddd;
  padding:3px;
  position:relative;
}
.colorlist  .color .color_icon{
  width:15px;
  height:15px;
  border-radius:4px;
  margin-right:3px; 
}
.colorlist .color .color_name{
  font-size:12px;
  line-height:15px;
}
.smu_items .item_input.notinstock input{
  width: 20px;
  height: unset;
  margin-right: 7px;
}

.empty_img{
  background:#e9eae9;
  /*
  height: calc(100% - 30px);
  width: 100%;
  */
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  color:white;
  text-transform: uppercase;
}

.smu_items .shop_employee{
  margin-right:2%;
  width:18%;
  margin-bottom: 40px;
  display:block;
  box-sizing:border-box;
  position:relative;
}

.smu_items .shop_employee .logo_frame{
  width:100%;
  height:180px;
  position:relative;
  overflow: hidden;
}

.smu_items .shop_item .logo_frame{
  margin-bottom:5px;
  position:relative;
  overflow: hidden;
  width:70%;
  min-height:150px;
}

.smu_items .shop_item .logo_frame .img_list{
  display:flex;
  margin-right:-3px;
}

.smu_items .shop_item .logo_frame .img_list .single_image{
  width:23%;
  margin-right:3px;
  position:relative;
}
.smu_items .shop_item .logo_frame .img_list .single_image img{
  width:100%;
  object-fit: cover;
}

.smu_items .shop_employee .logo_frame img{
  width:100%;
  object-fit: cover;
}
.smu_items .shop_item {
  width: 48%;
  position: relative;
}
.smu_items .item_input{
  margin-bottom:8px;
}
.smu_items .item_input input,.smu_items .item_input textarea{
  background: #f1f1f1;
  width: 70%;
  padding: 10px 18px;
  box-sizing: border-box;
  height: 25px;
  border: none;
  font-size: 16px;
}
.smu_items .item_input textarea{
  height:150px;
}

.smu_items .colors{
  background: #f1f1f1;
  width: 70%;
  padding: 10px 18px;
  box-sizing: border-box;
  height: 25px;
  border: none;
  font-size: 16px;
}

.smu_items .colors .add {

}

.smu_shop_aboutus_mainwrap{
  display:flex;
  flex-wrap:wrap;
  margin-right:-2%;
  margin-bottom:20px;
}
.smu_shop_aboutus_mainwrap .youtube_section {
  width:50%;
  position:relative;
  flex: 1 1 0px;
}
.smu_shop_single_employee{
  width:18%;
  margin-right:2%;
  /*border: 1px solid #d7d8d7;*/
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  border-radius:8px;
  overflow:hidden;
  margin-bottom:20px;
}
.smu_shop_item_list.emp_list{
  margin-bottom:20px;
}
.item_tag{
  position:absolute;
  left:15px;
  top:10px;
  border-radius:15px;
  padding: 4px 10px 4px 25px;
  font-size:14px;
  color:white;
  background-color: green;
  background-image:url("/images/new-badge.svg");
  background-repeat: no-repeat;
  background-size:8px;
  background-position: 12px 8px;
  z-index: 1;
}

.item_tag.red{
  background-image:none;
  padding: 4px 10px 4px 10px;
  background-color: #f44343;
}
.smu_shop_single_employee .smu_shop_emp_image{
  height: 200px;
  overflow: hidden;
  margin-bottom:10px;
}
.smu_shop_single_employee .smu_shop_emp_image img{
  width:100%;
  object-fit: cover;
}
.smu_shop_single_employee .smu_shop_item_details{
  padding:0px 10px 10px 10px;
}
.smu_shop_single_emp_name{
  font-weight: 500;
}
.smu_shop_emp_title{
  font-size:12px;
}
/*
.smu_shop_aboutus_mainwrap.shipping .smu_shop_aboutus_frame{
  width:48%;
  margin-right:2%;
}
*/

.item_template,.employee_template{
  display:none;
}
.item_list,.employee_list{
  padding:0px 30px;
}
.name_frame{
  width:100%;
  height:auto;
  line-height:25px;
  text-align:center;
  background:#d6d7d6;
  margin-top:7px;
  color: white;
}
.title_frame{
  width:100%;
  text-align:center;
}
.price_frame{
  width:100%;
  height:25px;
  line-height:25px;
  text-align:center;
  background:#aeafae;
  margin-top:7px;
  color: white;
}
.price_frame input,.name_frame input{
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  height: 100%;
}
.item_list,.employee_list{
  display:flex;
  flex-wrap:wrap;
  margin-right:-2%;
}
.smu_submit_wrap a{
  color:white;
  background:#16B01A !important;
  width:auto !important;
}
.back_button_wrap{
  display:block !important;
  position:absolute;
  left:100px;
  width:auto !important;
}
.back_button_wrap a.spbutton{
  display:block !important;
  background:#cccccc !important;
  color:white;
}
.smu_basic_info{
  position:relative;
}
.my_shop_button .spbutton{
  display:inline-block;
}
.smu_shop_nav{
  display:flex;
  flex-wrap:wrap;
  margin-bottom:25px;
  justify-content: space-around;
}
.ui-selectmenu-button.ui-button.ui-widget{
  margin-top:13px;
  background:#f0f1f0;
  text-align:center;
  border-radius:0px;
  border:none;
  padding:0.5vw 27px
}
.ui-selectmenu-icon.ui-icon{
  display:none;
}
.ui-selectmenu-text{
  text-transform:uppercase;
  font-size:13px !important;
  display: inline;
  line-height: 23px;
}
.ui-front.ui-selectmenu-open{
  z-index: 999999;
}
.extra_text{
  position: absolute;
  left: -10px;
  top: 29px;
  width: 30%;
  text-align: right;
}
.field_row {
  position:relative;
}

.smu_shop_item_liked{
  position:absolute;
  top:10px;
  right:10px;
  background:url(/images/like-icon-stroke.svg) no-repeat;
  background-size: 20px;
  background-color:rgba(255,255,255,0.4);
  background-position: center;
  height: 20px;
  width: 20px;
  transition:all 0.3s;
  padding:7px;
  border-radius:50%;
}
.smu_shop_item_liked.active{
  background-image:url(/images/like-icon-filled.svg);
}
.smu_shop_item_liked:hover{
  background-image:url(/images/like-icon-filled.svg);
}
.smu_shop_item_basket{
  background-image:url(/images/basket_green.svg);
  background-repeat:no-repeat;
  background-size:20px;
  background-position:8px;
  border:1px solid #9d9c9e;
  border-radius:50%;
  height:40px;
  width:40px;
  line-height:40px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  cursor:pointer;
  transition: all 0.3s;
}
.smu_shop_item_basket:hover{
  border-color:#23bb4b;
}

.smu_shop_item_basket.added_to_basket{
  background-image:url(/images/basket.svg);
  background-color:#16B01A;
  border-color:#16B01A;
}
.smu_shop_fav_main_det{
  display:flex;
  flex-direction:column-reverse;
}
.smu_shop_item_price{
  font-size: 25px;
  font-weight: 500;
}
.smu_shop_mainsearch input{
  padding:20px;
  padding-left:40px;
  width:100%;
  border:none;
  border-radius:8px;
  background:#f1f2f1;
  box-sizing:border-box;
}
.smu_shop_mainsearch input:focus{
  outline: none;
}
.smu_shop_filter_search_ext input{
  background:white;
}
.smu_shop_mainsearch{
  margin-bottom:30px;
}
smu_shop_item_frame
.smu_shop_mainsearch{
  margin-top:40px;
  position:relative;
}
.smu_shop_frame .smu_shop_item_frame{
  margin-top:40px;
}
.smu_shop_item_title_wrap{
  display:flex;
  justify-content: space-between;
}
.smu_shop_item_displayelement {
  display:flex;
  flex-wrap:wrap;
}
.smu_shop_item_displayelement  div{
  width:20px;
  height:20px;
  background:url(/images/gal_view_active.svg) no-repeat;
  background-size:15px 15px;
  cursor:pointer;
}
.smu_shop_item_displayelement .display_list{
  background-image:url(/images/list_view.svg);
}
.smu_shop_item_district{
  font-size:10px;
  color:#9d9c9e;
}
.smu_shop_item_smfname{
  font-size:10px;
}
.smu_shop_item_contactemail{
  font-size:10px;
  color:#23bb4b;
  text-decoration:underline;
}
.smu_shop_item_frame.basket .smu_shop_item_price{
  position:absolute;
  bottom:10px;
  font-size:22px;
  font-weight:500;
}
.smu_shop_item_frame.basket .smu_shop_single_item{
  padding-bottom:45px;
  cursor:pointer;
}
.smu_shop_item_frame.basket .item_tag{
  left: 33px;
  top: 22px;
  font-size: 11px;
}

.catalog_basket{
  width:30px;
  height:30px;
  background:url("/images/basket.svg") no-repeat;
  background-size:30px;
  position:relative;
  cursor:pointer;
}
.catalog_fav{
  width:30px;
  height:30px;
  background:url("/images/like.svg") no-repeat;
  background-size:30px;
  position:relative;
  cursor:pointer;
  margin-right: 20px;
}
.basket_cnt{
  background-color:#23bb4b;
  color:white;
  border-radius:50%;
  position:absolute;
  top:0px;
  right:-5px;
  height:15px;
  width:15px;
  font-size:10px;
  line-height:15px;
  text-align:center;
}

.add_item.spbutton{
  display:inline;
  margin-left:30px;  
}

.shop_item .img_remove{
  position:absolute;
  top:0px;
  right: 0px;
  height:14px;
  width:14px;
  background: url(/images/x-white.svg) no-repeat;
  background-size:6px 6px;
  background-position:4px 4px;
  border-radius:50%;
  background-color:#da5e5e;
  cursor:pointer;
}

.shop_item .remove{
  position:absolute;
  top:-4px;
  left: 70%;
  height:14px;
  width:14px;
  background: url(/images/x-white.svg) no-repeat;
  background-size:6px 6px;
  background-position:4px 4px;
  border-radius:50%;
  background-color:#da5e5e;
  cursor:pointer;
}
.remove_color{
  position:absolute;
  top: -9px;
  right: -11px;
  height:14px;
  width:14px;
  background: url(/images/x-white.svg) no-repeat;
  background-size:6px 6px;
  background-position:4px 4px;
  border-radius:50%;
  background-color:#da5e5e;
  cursor:pointer;
}

.shop_message{
  font-size: 19px;
  font-weight:500;
  text-align:center;
  margin-bottom:20px;
}
.smu_shop_single_item_title{
  max-height: 70px;
  position:relative;
  font-size:14px;
  margin-bottom:20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.smu_shop_item_frame.basket .smu_shop_single_item_title{
  overflow:hidden;
}
.smu_shop_single_item_title:hover .item_name_hover{
  display:block;
}
.item_name_hover{
  display:none;
  position:absolute;
  color:white;
  border-radius:6px;
  background:#121212;
  padding:10px 10px;
  font-size:11px;
  text-transform:none;
  z-index:99999;
  transition: all 0.3s;
  top:-10px;
  left:90%;
  width:150px;
}

.mfp-bg{
  z-index:9999998 !important;
}
.mfp-wrap{
  z-index:9999999 !important;
}

.hidden_banner{
  position:fixed;
  top:0px;
  height:100%;
  width:100%;
  left:0px;
  z-index: 999999999;
  background-color: rgba(0,0,0,0.6);
}
.hidden_banner .banner_image{
  display: block;
  height: 100%;
  width: 100%;
  text-align:center;
}
.hidden_banner .banner_image img{
  height:90%;
  max-height:90%;
  width:auto;
  margin: 0 auto;
  margin-top: 3%;
}
.smu_shop_basket_order_finish_wrap{
  background:#f2f2f2;
  padding:40px 0px;
}
.smu_shop_basket_order_finish_inner{
  width:80%;
  margin: 0 auto;
  color:#9d9c9e;
  display:flex;
  flex-wrap:wrap;
}
.smu_shop_basket_order_finish_inner > div{
  box-sizing:border-box;
}
.smu_shop_basket_order_button.spbutton{
  font-size:18px !important;
  padding:20px !important;
  text-align:center;
}
.smu_shop_basket_order_finish_col1{
  padding-right:20px;
  width:60%;
}
.smu_shop_basket_order_col2{
  padding-left:20px;
  width:40%;
}
.smu_shop_basket_frame{
  display:flex;
  flex-wrap:wrap;
}
.smu_shop_basket_frame .smu_shop_item_list .smu_shop_single_item  .smu_shop_item_price{
  width:40%;
  padding-right:0px !important;
  margin-right:0px;
  font-size:16px;
  text-align:right;
}
.smu_shop_basket_frame > div{
  width:50%;
}
.smu_shop_basket_frame .smu_shop_item_smfdetails,.smu_shop_basket_frame .smu_shop_item_district,.smu_shop_basket_frame .smu_shop_item_basket,.smu_shop_basket_frame .smu_shop_item_liked{
  display:none;
}

.smu_shop_basket_frame .smu_shop_single_item_title{
  font-size:14px;
}
.smu_shop_basket_frame .smu_shop_single_item_title{
  font-size:16px !important;
}
.smu_shop_basket_frame .smu_shop_item_details{
  align-items:start !important;
  padding-top:0px;
}

.smu_shop_basket_frame .smu_shop_item_list .smu_shop_single_item .smu_shop_item_image{
  width:150px;
  height:100px;
}
.smu_shop_item_frame.basket .price_det .smu_shop_item_price{
  width:100%;
  text-align:right;
}
.smu_shop_item_frame.basket .smu_shop_fav_main_det{
  width:70%;
}
.smu_shop_item_frame.basket .smu_shop_item_details{
  align-items:start !important;
  padding-right: 0px;
}
.qty_entry{
  display:flex;
  flex-wrap:wrap;
  color:#aeafae;
}
.qty_entry .add{
  border:1px solid #cbcccb;
  ;
  border-left:none;
  padding:3px 10px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
.qty_entry .remove{
  border:1px solid #cbcccb;
  border-right:none;
  padding:3px 10px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.qty_entry input{
  border:1px solid #cbcccb;
  width:50px;
  text-align:center;
  color:#333;
}
.price_det{
  text-align:right;
}
.smu_shop_basket_order_items .smu_shop_single_item{
  margin-bottom:0px;
  box-shadow: none;
  border:1px solid #e9eae9;
  border-bottom:none;
  border-radius:0px;
}
.smu_shop_basket_order_items .smu_shop_single_item:last-child{
  border:1px solid #e9eae9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.smu_shop_basket_order_items .smu_shop_single_item:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.smu_shop_basket_order_items .smu_shop_item_list{
  margin-bottom:30px;
}
.basket_back{
  color:#16B01A;
  font-size:17px;
  margin-bottom:20px;
  cursor:pointer;
}
.smu_shop_item_frame.basket .smu_shop_item_title{
  font-size:20px;
}
.field_col{
  background:#f1f1f1;
  width:80%;
  overflow:hidden;
  margin-right:25px;
  padding: 10px 18px;
  box-sizing:border-box;
  
}

.field_col input,.field_col textarea{
  background:none;
  border:none;
  font-size:16px;
  width:100%;
}
.field_col textarea:focus,.field_col  input:focus{
  outline: none;
}
.field_col input{
  height:25px;
}
.field_col textarea{
  height:100px;
}
.field_label{
  font-size:11px;
  color:#9d9c9e;
}
.field_row {
  margin-bottom:10px;
}
.smu_shop_basket_order_info{
  color:#9d9c9e;
  margin-bottom:30px;
  width: 90%;
}
.field_col.err{
  border:1px solid #da5e5e;
  box-sizing: border-box;
}
.basket_finish{
  text-align:center;
  margin:50px 0px;
}
.basket_finish_title{
  font-weight: bold;
  font-size:20px;
}
.basket_finish_text{
  font-size:18px;
  max-width:600px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
}
.basket_finish_button.spbutton{
  display:inline;
  font-size:18px !important;
  padding:8px 50px !important;
}
.order_finish_title{
  font-size:24px;
  font-weight: 500;
  color:#333;
  margin-bottom:20px;
}
.empty_basket{
  margin:40px 0px;
}
.catalog_back_frame{
  top:380px;
  margin-top:unset;
  display:none;
}

.smu_shop_single_item_frame{
  width: 80%;
  margin: 0 auto;
  z-index: 9999;
  position: relative;
  margin-top:100px;
}
.smu_shop_single_item_frame .item_info{
  display:flex;
  margin-top:30px;
}
.smu_shop_single_item_frame .item_info .item_gallery{
  width:40%;
  margin-right:10%;
}
.item_info .item_details{
  width:50%;
}

.item_info .item_title{
  font-size:24px;
}
.item_info .small_preview{
  width:100%;
  height:auto;
  overflow:hidden;
  min-height:250px;
  position:relative;
}
.item_info .small_preview .before,.item_info .small_preview .after,.item_info .small_preview .show{
  content:"";
  position:absolute;
  top: 50%;
  margin-top:-20px;
  height:20px;
  width:20px;
  left:15px;
  background-size:10px;
  background-image:url(/images/arrow-left.svg);
  background-repeat:no-repeat;
  background-position:center;
  padding:10px;
  border-radius:50%;
  background-color:rgba(0,0,0,0.4);
}
.item_info .small_preview .after{
  background-image:url(/images/arrow-right.svg);
  right:15px;
  left:unset;
}
.item_info .small_preview .show{
  background-image:url(/images/fullscreen-icon.png);
  top:35px;
  right:15px;
  left:unset;
}

.similar_products_frame .slick-arrow.slick-prev,.similar_products_frame .slick-arrow.slick-next{
  content:"";
  position:absolute;
  top: 50%;
  margin-top:-20px;
  height:20px;
  width:20px;
  left:-60px;
  background-size:10px;
  background-repeat:no-repeat;
  background-position:center;
  padding:20px;
  border-radius:50%;
  z-index:1;
  background-color:rgba(0,0,0,0.4);
}

.similar_products_frame .slick-arrow.slick-prev{
  background-image:url(/images/arrow-left.svg);
}
.similar_products_frame .slick-arrow.slick-next{
  background-image:url(/images/arrow-right.svg);
  right:-60px;
  left:unset;
  transform: none;
}
/*
.similar_products_list_nav.prev{
  left:-50px;
}
.similar_products_list_nav.next{
  right:-50px;
}
*/
.item_info .small_preview img{
  width:100%;
  object-fit: cover;
}
.item_info .item_image_list{
  display:flex;
  height:70px;
  overflow:hidden;
}
.item_info .item_image_list .single_item_image{
  margin-right:10px;
}
.item_info .item_image_list img{
  height:70px; 
}
.smu_shop_main_back{
  color:white;
  margin-bottom:30px;
  display:inline-block;
  transition:all 0.3s;
}

.item_details .item_price{
  font-size:24px;
  font-weight: 500;
  margin-top:20px;
}
.item_details_divider{
  border:1px solid #e9eae9;
  height:0px;
  width:100%;
  margin:30px 0px;
}

.item_add_basket{
  display:block;
  color:white;
  background:#24bc4b;
  font-size:20px;
  width:100%;
  box-sizing:border-box;
  padding:20px;
  text-align:center;
  margin-top:35px;
  cursor:pointer;
}
.item_full_desc{
  margin-top:50px;
  margin-bottom:50px;
}
.item_full_desc{
  display:flex;
}
.item_full_desc_label{
  width:200px;
  font-weight: 600;
  margin-right:30px;
}
.similar_products_frame{
  margin-top:50px;
}
.similar_products_title{
  font-weight: bold;
  text-align:center;
}
.similar_products_list{
  margin-top: 30px;
/*
  display:flex;
  flex-wrap:wrap;
  margin-right:-2%;
  width: 10000px;
*/
}
.similar_products_list .smu_shop_single_item{
  /*width:23%;*/
  width:260px;
  margin-right:12px;
  margin-left:12px;
}
.item_dimension{
  /*display:none;*/
  display:flex;
  margin-top:25px;
}
.item_dim_values{
  display:flex;
}
.item_dim_label{
  width:100px;
  font-weight:600;
}
.item_dimension.size select{
  width:80px;
  background:white;
  font-size: 16px;
}
.item_dimension.color .dim_val{
  width:18px;
  height:18px;
  margin:4px;
  border-radius:50%;
}
.item_dimension.color .dim{
  border-radius:50%;
  margin-right:20px;
  border:1px solid transparent;
}
.item_dimension.color .dim.selected{
  border:1px solid #16B01A;
}
/*
.item_details_divider:nth-child(4) {
  display:none;
}*/
.item_shipping_title{
  font-weight: 600;
  margin-bottom:10px;
}
.smu_shop_single_item_frame .item_back a{
  background: url("/images/arrow-back-green.svg") no-repeat 0px;
  background-size:20px;
  color:#44ac50;
  font-size:18px;
  padding-left:30px;
}
.loading{
  position:relative;
  width:40px;
  left:-200px;
}

.smu_shop_school{
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 900.99px){
  .listview .smu_shop_fav_main_det{
    flex-direction:column;
    width:40%;
  }
  .smu_shop_item_displayelement.listview .display_list{
    background-image:url(/images/list_view_active.svg);
  }
  .smu_shop_item_displayelement.listview .display_gallery{
    background-image:url(/images/gal_view.svg);
  }
  .smu_shop_item_list.listview{
    flex-direction: column;
    margin-right:0px;
  }
  .smu_shop_item_list.listview .smu_shop_single_item{
    width:100%;
    margin-right:0px;
    display: flex;
    padding:15px 25px; 
  }
  .smu_shop_item_list.listview .smu_shop_single_employee{
    width:100%;
    margin-right:0px;
    display: flex;
    padding:15px 25px; 
  }


  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_image{
    width:200px;
    height:132px;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_price{
    position:static; 
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_basket{
    position:static;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_liked.active{
    background:url(/images/x-medium.svg) no-repeat;
    background-size:10px;
    height:10px;
    width:10px;
    cursor:pointer;
  
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_details{
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  } 
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_details > div{
    padding-right:15px;
    box-sizing:border-box;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_single_item_title{
    font-weight:500;
    font-size:22px;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_district{
    width:150px;
    font-size:14px;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_smfdetails{
    width:30%;
    font-size:14px;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_smfname{
    font-size:14px;
  }
  .smu_shop_item_list.listview .smu_shop_single_item .smu_shop_item_contactemail{
    font-size:14px;
  }
}
@media screen and (max-width: 900.98px){
    .smu_shop_single_item,.smu_items .shop_employee,.smu_shop_single_employee{
    width:31%;
  }
  .profile.smu-border{
    padding:20px 20px;
  }
  .smu_shop_item_displayelement{
    display:none;
  }
  .price_det{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .smu_shop_item_frame.basket .price_det .smu_shop_item_details{
    padding-right:20px;
  }
  .smu_shop_item_frame.basket .smu_shop_single_item{
    padding-bottom:15px;
  }
  .smu_shop_item_frame.basket .price_det .smu_shop_single_item_qty{
    width:50%;
    justify-content: center;
  }
  .smu_shop_item_frame.basket .price_det .smu_shop_item_price{
    width:50%;
    position:static;
    text-align:left;
  }
}
@media screen and (max-width: 767.98px){
  .smu_shop_title_section {
    flex-direction: column;
  }
  .smu_shop_media_frame,.smu_shop_media_top,.smu_shop_media_bottom{
    position:static;
  }
  .smu_shop_media_frame{
    margin-top:15px;
  }
  .smu_shop_media{
    margin-left:0px;
    margin-right:15px;
  }
  .smu_shop_single_item,.smu_items .shop_employee,.smu_shop_single_employee{
    width:48%;
  }
  .back_button_wrap{
    position:static;
  }
  .smu_shop_frame, .smu_shoplist_frame{
    width:90%;
  }
  .smu_shop_basket_order_items{
    display:none;
  }
  .smu_shop_basket_frame .smu_shop_basket_order_form{
    width:100%;
  }
  .field_col{
    width:100%;
  }
  .smu_shop_item_liked{
    background-size: 35px;
    height: 35px;
    width: 35px;
  }
  .smu_shop_aboutus_mainwrap.shipping{
    flex-direction:column;
  }
  .smu_shop_aboutus_mainwrap.shipping .smu_shop_aboutus_frame{
    width:100%;
  }
  .smu_shop_aboutus{
    box-shadow: none;
    padding:0px;
  }
  .smu_shop_logo{
    width:100%;
  }
  .smu_shop_logo img{
    width:100%;
  }
  .smu_shop_compname_section{
    width:100%;
    text-align:center;
  }
  .smu_shop_media_inline{
    position:static;
    clear:both;
    flex-direction: column;
    align-items: center;
  }
  .smu_shop_media_top{
    position:static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
  }
  .smu_shop_media_frame{
    width:100%;
    margin:20px 0px;
  }
  .smu_shop_media a, .smu_shop_media_full a{
    width:30px;
    height:30px;
    background-size:30px 30px;
  }
  .smu_shop_media_full a{
    font-size:16px;
    width:auto;
    background-size:18px !important;
  }
  .smu_shop_aboutus_mainwrap .youtube_section {
    width:100%;
  }
  .smu_shop_aboutus_mainwrap .smu_shop_aboutus{
    width:100%;
  }
  .smu_shop_single_item_frame .item_info{
    display:block;
  }
  .smu_shop_single_item_frame .item_info  .item_gallery {
    width:100%;
  }
  .smu_shop_single_item_frame .item_details {
    width:100%;
    margin-top: 20px;
  }
  .similar_products_frame .slick-arrow.slick-prev{
    left:0px;
  }
  .similar_products_frame .slick-arrow.slick-next{
    right:0px;
  }
  .smu_shop_single_item_frame{
    width:90%;
  }
  .item_info .item_image_list{
    display:none;
  }
  .small_preview .show{
    display:none;
  }
  .item_full_desc{
    display:block;
  }
  .item_full_desc_label{
    margin-bottom:10px;
  }
  .item_info .item_title{
    font-weight: 600;
  }
}

@media screen and (max-width: 500.98px){
  .smu_shop_single_item,.smu_items .shop_employee,.smu_shop_single_employee{
    width:100%;
    margin-right:0px;
  }
  .smu_shop_item_list, .smu_shoplist{
    margin-right:0px;
  }
  .smu_shop_basket_order_finish_inner{
    flex-direction:row;
  }
  .smu_shop_basket_order_finish_inner > div{
    width:100%;
    padding:0px;
  }
  .smu_shop_basket_order_button{
    margin:0px !important;
  }
  .smu_shop_basket_order_col2{
    margin-top:30px;
  }
  

}