body{
    background-color: #ececec;
}
#top-bt {
    display: -webkit-flex;
    display: flex;
}
#top-bt p {
    width: 8vw;
    margin: 13px;
    text-align: right;
}
#top-bt p span {
    color: white;
    font-size: 8px;
    margin: 0;
    line-height: 1.5;
}
#banner {
    height: 46vw;
    background-image: url(../img/background_smu.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
.capture_smu{
    position: absolute;
    margin-top: 20vw;
    margin-left: 12vw;
    z-index: 2;
    width: 38%;
}
.capture_smu h2{
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    line-height: 40px;
    padding-bottom: 0.5vw;
}
.capture_smu p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 17px;
    text-align: left;
    opacity: 0.8;
}
#buttons{
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 18vw;
    width: 100%;
    justify-content: center;
}
#buttons button{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 13px;
    padding: 0.5vw 13px;
    margin: 13px;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}
#buttons button:hover{
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}
#smu_content{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 60%;
    margin: auto;
}
.smu-c p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: justify;
    margin-bottom: 13px;
}
.wrap{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.wrapped{
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: auto;
    cursor: pointer;
    align-items: center;
}
.wrapped div{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.wrapped:hover{
    background-color: white;
}
.wrapped h1{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1.6vw;
    margin-bottom: 0.2vw;
}
.wrapped h2 {
    font-size: 9px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: bold;
    margin: 0;
    position: relative;
    bottom: -2.5vw;
    text-align: center;
}
.wrapped p{
    font-size: 9px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: justify;
    margin: 0;
    padding-bottom: 0.5vw;
}
.wrapped span{
    font-size: 8px;
    line-height: 1.3;
}
.project_logo{
    width: 15vw;
}
.logo10, .logo11, .logo12, .logo13{
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-position-x: 50%;
    background-size: 40%;
    background-position-y: 30%;
    height: 100%;
}
.wrapped_text{
    width: 70%;
    padding: 17px;
}
.logos-{
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 8vw;
    margin-left:1vw;
}

.logo10{background-image: url(../img/logos/30.png);}
.logo11{background-image: url(../img/logos/12.png);}
.logo12{background-image: url(../img/logos/22.png);}
.logo13{background-image: url(../img/logos/44.png);}

#content_2{
    width: 100%;
    margin: auto;
    height: 23vw;
    background-image: url(../img/background-gr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.header_h2_{
    position: relative;
    top: 7vw;
    left: 25vw;
}
.header_h2_ h1{
    margin: 0;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    color: rgb(119, 180, 93);
    font-weight: bold;
}
.diagramm{
    margin: auto;
    height: 18.5vw;
    background-image: url(../img/logos/enu_diena/SMU_DARBIBA.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 50vw;
}
#content_3{
    width: 35%;
    margin-left: 20%;
    margin-top: 27px;
}
#content_3 p{
    font-size: 9px;
    font-family: "Poppins", sans-serif;
    color: black;
    line-height: 18px;
    text-align: left;
    margin: 0;
    padding-bottom: 0.5vw;
}
#content_4{
    position: absolute;
    width: 21%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: -8vw;
    right: 20vw;
}
#content_4 img{
    width: 27px;
    padding: 13px;
    padding-top: 0;
}
#content_4 p{
    font-size: 8px;
    font-family: "Poppins", sans-serif;
    color: #04c34e;
    line-height: 13px;
    text-align: left;
    margin: 0;
    padding-bottom: 0.5vw;
    text-decoration: underline;
}
h6{
    margin: 27px;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 17px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}
#list{
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding-bottom:3vw;
}
#list ul{
    margin-right: 27px;
}
#list li{
    font-size: 9px;
    font-family: "Poppins", sans-serif;
    color: black;
    line-height: 17px;
    text-align: left;
    margin: 0;
    padding-bottom: 0.5vw;
    cursor: unset;
    white-space: nowrap;
}
#list img{
    width: 11px;
    padding-right: 0.5vw;
}
.smu-c table{
    border: 1px solid rgba(0,0,0,0.3);
    padding: 13px;
    border-radius: 10px;
}
.smu-c table p{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    text-align: left;
}
.smu-c table h1{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    text-align: left;
}
.smu-c table th{
    padding: 0 0.5vw 13px 0.5vw;
}
.smu-c table th h1{
    margin: 0;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgba(0,0,0, 0.7);
    text-align: left;
}
.smu-c table td{
    padding: 0 0.5vw 0 0.5vw;
}



.wrap-reversed{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapped-reversed{
    width: 23%;
    height: auto;
    padding: 0.5vw;
}
.pdarb .wrapped-reversed{
    width: 18%;
}
.logos-r{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-reversed p{
    font-size: 9px;
    font-family: "Poppins";
    color: black;
    line-height: 13px;
    text-align: justify;
    margin: 0;
    padding: 0 13px 0 13px;
}
.pdarb.wrap-reversed p{
    text-align: center;
}
.vdarb.wrap-reversed p{
    text-align: center;
}
.log{
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-position-x: 50%;
    background-size: contain;
    background-position-y: 50%;
    height: 100%;
    width: 70px;
    height: 70px;
}
#dalibskolas-skolas .log{
    background-size: contain;
    box-shadow: none;
}
.wrapped_text-1{
    padding-top: 17px;
    padding-bottom: 17px;
}
.logo20{
    background-image: url(../img/logos/17.png);
}
.logo21{
    background-image: url(../img/logos/16.png);
}

.smu-c h3{
    margin: 0;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}
@media screen and (max-width: 900px){
  p {
    font-size:20px !important;
    line-height:1.5 !important;
  }
  #smu_content{
    width:100%;
    font-size:20px;
  }
  .wrapped{
    width:auto !important;
    display:block !important;
  }
  .wrapped div{
    margin:0 auto;
    display:block;
  }
  .logos- {
    box-shadow:none;
    height:135px;
  }
  .wrapped p{
    font-size:20px;
    line-height:1.5;
  }
  .wrapped h2{
    font-size:20px;
    bottom:0px;
    position:absolute;
    width:100%;
    text-align:center;
  }
  #content_3{
    width:90%;
    margin:0 auto !important;
  }
  #list{
    display:block;
  }
  #list li{
    font-size:20px !important;
    line-height:1.5 !important;
    white-space:unset;
  }
}