.field_col{
  background:#f1f1f1;
  width:70%;
  float:left;
  overflow:hidden;
  margin-right:25px;
  padding: 10px 18px;
  box-sizing:border-box;
  
}

.field_col input,.field_col textarea{
  background:none;
  border:none;
  font-size:16px;
  width:100%;
}
.field_col textarea:focus,.field_col  input:focus{
  outline: none;
}
.field_col input{
  height:25px;
}
.field_col textarea{
  height:100px;
}
.field_label{
  font-size:11px;
}
.field_descr{
  font-size:11px;
  margin-bottom:10px;
  overflow:hidden;
}

#cost_table_wrap{
  position:relative;
}

#cost_table_wrap .field_descr{
  position:absolute;
  right:0px;
  top:0px;
  padding-right:5%;
  width:220px;
  text-align:right;
}

.field_row{
  clear:both;
  margin-bottom:13px;
  padding-left:30%;
}
.clear{
  clear:both;
}
.smu_top{
  margin: auto;
  margin-top: 20px;
  height:5vw;
}
.back_button_wrap{
  width:30%;
  float:left;
  display:none;
}

.profile_header{
  text-align:center;
  /*width:70%;*/
  font-weight:600;
  font-size:24px;
}
.newEmp_form{
  display:none;
}
.profile{
  padding-top:30px;
  padding-bottom:30px;
}
/*
.profile table{
border-collapse: collapse;
}
*/
.profile table td,.profile table th{
border:1px solid #ddd !important;
padding:10px 30px;
height:27px;
}
#emplist-table{
  margin-bottom:15px;
  border-collapse:collapse;
}

.emp_content{
  margin-left:5%;
  width:80%;
  float:left;
  margin-right: 25px;
}
.emp_content table{
  width:100%;
}
#emplist-table select{
  margin:0px;
}
.newEmp_form select{
  width:16vw;
}
.nemp_code{
  margin-right:20px;
}
.emp_rem{
  cursor:pointer;
}

.back_button_wrap a{
  float:right;
  margin:0px;
  margin-right:27px;
}
.spbutton{
  padding:0.5vw 13px;
  /*background:#cccccc !important;*/
  display:inline-block;
}
.table-plan{
  /*display:none;*/
}

.table_edit{
  border:none;
  font-size:1vw;
  text-align:center;
}

.hidden{
  /*visibility:hidden;*/
}
.smu_submit_wrap{
}
.smu_submit{
  margin-bottom:20px;
  text-align:center;
}
.smu_submit_wrap a{
  margin:20px auto;
  margin:20px 20px;
  width:150px;
  display:inline-block;
  /*background:#16B01A !important;*/
  text-align:center;
}
#findata_table{
  width:auto !important;
  margin-right:1vw;
}

.profile table td input{
  width:100%;
}
.table_header{
  width:100%;
  text-align:center;
  font-weight: 600;
  margin-bottom:20px;
  font-size:24px;
}

.dataTables_wrapper{
  overflow:hidden;
  clear:none !important;
}

#add_item_button{
  width:auto;
  /*margin:0 auto;*/
  text-align:center;
  margin-left:5%;
  /*background:#16B01A !important;*/
}

#finplan_table_wrapper{
  margin:0vw 13px;
  overflow:visible !important;
}


#finplan_table tfoot tr,tfoot,#finplan_table{
  border-left:none;
}
tfoot tr td{
  background:#f3f3f3;
}

.smu_items,.smu_education{
  width:100%;
  background:none;
  padding:0px;
  margin:0px;
  text-indent:0px;
}
.smu_profile_info{
  text-align:center;
  border:1px solid #16B01A;
  padding:3px;
  margin:0px 30px 30px 30px;
}

.date_wrap{
  float:left;
  width:50%;
  margin-top:8px;
}

.ui-datepicker td a {
  height:auto !important;
  font-size:unset !important;
  line-height:unset !important;
}
.emp_rem:hover{
  cursor:pointer;
}
@media screen and (max-width: 900px){

  .smu_top{
    height:auto;
    margin-top:0px;
    margin-bottom:20px;
  }
  .field_descr{
    display:none;
  }
  .field_col{
    width:100%;
  }
  .emp_content{
    width:100%;
    margin:0px !important;
  }
  .newEmp_form select {
    width: 100%;
    font-size: 20px;
    height: 60px;
  } 
  .smu_submit_wrap a{
    width:auto;
    display:block;
  }
  #emplist-table thead{
    display:none;
  }
  #emplist-table td{
    float:left;
    width:93%;
    height: 50px;
    box-sizing:border-box;
  }
  #emplist-table select {
    margin: 0px;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    background: none;
  }
}