
table.dataTable td,table.dataTable th{
  border:0px !important;
  border-right:1px solid #ddd !important;
  border-bottom:1px solid #ddd !important;
}
table.dataTable td:first-child,table.dataTable th:first-child{
  border-left:1px solid #ddd !important;
}
table.dataTable  thead tr:first-child th{
  border-top:1px solid #ddd !important;
}
.dataTable tfoot td:first-child{
  border-bottom-left-radius:15px;
}
.dataTable thead tr:first-child th:first-child{
  border-top-left-radius:15px;
}
.dataTable tfoot td:last-child{
  border-bottom-right-radius:15px;
}
.dataTable thead tr:first-child th:last-child{
  border-top-right-radius:15px;
}
#finplan_table td:first-child,#finplan_table th:first-child{
  /*width:160px !important;*/
}
#finplan_table tfoot td:first-child{
  border-left:none !important;
  border-bottom:none !important;
  text-align:right !important;
  background:white;
  border-right:none !important;
}
#finplan_table tfoot td:nth-child(2){
  border-bottom-left-radius:15px;
  border-left:1px solid #ddd !important;
}
.table_field_wrap{
  margin-left:5%;
  margin-right:20px;
  width:30%;
  float:left;
}
#company-table_wrapper{
  overflow:hidden;
  clear:none !Important;
}
.clear{
  clear:both;
}
.table_wrap{
  clear:both;
  margin-bottom:20px;
}
.table_field input{
  width:24vw;
  font-size:17px;
  height:27px;
  
}
.table_field.itemprice input,.table_field.costprice input{
  width:9vw;
  text-align:right;
}
.sample td,.sample_input{
  color:#ddd;
}
