body{
  background-color:white;
  font-size:12px;
  font-family:Verdana,Arial,Sans-serif;
  margin:0px;
  color:#5c5c5c;
  background-image:url("/images/ja_web_page_headeris_fin.jpg");
  background-repeat:no-repeat;
  background-position:50% 0px;
}

img{
  border:none;
}

body a {
  font-size:13px;
}

a{
  color:#009c73;
}

h1{
  color:#009c73;
  margin-top:0px;
  font-size:22px;
}

#leftnav ul{
  list-style-type:none;
}

#header2{
  /*background-image:url("/n_images/header.png");*/
  width:1000px;
  height:111px;
}

#headmenu{
  height:0px;
  color:white;
  padding-left:630px;
  z-index:2;
  position:absolute;
  top:4px;
  right:10px;
}

#headmenu a {
  color:#007610;
  font-size:11px;
}

#headmenu ul{
  list-style-type:none;
  float:left;
  margin:0px;
  padding:0px;
  padding-top:5px;
  float:right;
}

#topmenu ul{
  float:right;
}

#headmenu ul li{
  float:left;
  margin-left:20px;
}

#wrapper{
  width:1000px;
  margin:0 auto;
  position:relative;
}

#topmenu{
  width:260px;
  text-align:right;
  float:left;
}

#langlist {
  width:100px;
  float:left
}

#langlist ul li{
  margin-left:5px;
}

#leftnav{
  width:217px;
  float:left;
}

#mainbox{
  width: 750px;
  float:left;
}

#mainbox.narrow{
  width:550px;
}

#rightnav{
  width:203px;
  /*overflow:hidden;*/
  float:left;
}

#actbanner ul{
  list-style-type:none;
  background-color:white;
  padding:15px;
  width:173px;
  margin:0px;
}

#actbanner ul li a{
  color:#666666;
  text-decoration:none;
  font-size:11px;
  padding-top:4px;
}

#actbanner ul li a:hover{
  text-decoration:underline;
}

#contimgbig{
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}

#actbanner{
  background-image:url("/n_images/cal_b.png");
}

#actbannerhead{
  height:30px;
  width:203px;
  text-align:center;
  font-weight:600;
}

#actbannerhead a{
  text-decoration:none;
  color:white;
}

#mainbox{
  padding:15px;
  padding-top:0px;
}

#news ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

#news ul li{
  margin-top:10px;
  height:140px;
  border-bottom:1px solid #dbdbdb;
}

#news ul li a{
  text-decoration:none;
}

#news .cont_head{
  font-size:17px;
  color:#10a27b;
  text-decoration:underline;
  font-weight:bold;
  margin-bottom:7px;
}

#news .cont_text{
  color:#6f6f6f;
}

#contlistimg{
  float:left;
  margin-right:20px;
  width:150px;
}

#contlistimg img{
  max-width:150px;
  max-height:100px;
}

#content-detail{
  overflow:hidden;
  padding-right:20px;
}

#footer2{
  text-align:center;
  margin:0 auto;
  width:550px;
  margin-top:20px;
  border-top:1px solid #dbdbdb;
  padding-top:20px;
  padding-bottom:40px;
}

#pagenav a{
  color:#666666;
  background:none;
  margin-right:5px;
  float:left;
  overflow:hidden;
}

#container{
  margin-top:30px;
}

#pagenav .active{
  color:white;
  background-color:white;
  height:20px;
  width:15px;
  background-color:#009c73;
  font-weight:bold;
  margin-right:3px;
  padding-top:4px;
  margin-top:-3px;
  text-align:center;
  display:block;
  overflow:hidden;
  float:left;
}

#pagenav {
  margin-top:20px;
}

.bannerpic{
  margin-top:30px;
}

#banner_cal a{
  color:white;
  font-size:19px;
}

#banner_cal{
  height:53px;
  padding-top:16px;
  text-align:center;
  /*font-weight:bold;*/
}

#cont-header{
  /*display:none;*/
}

.bannerpic.top{
  margin-top:40px;
}

#sidemenu ul{
  margin:0px;
  padding:0px;
}

#sidemenu ul li{
  float: left;
}

#sidemenu ul li ul{
  margin-left:20px;
}

#sidemenu ul li ul{
  display:none;
}

#sidemenu ul li.active>ul{
  display:block;
}
#sidemenu ul li a{
  padding:5px 10px 5px 20px;
  color:#5c5c5c;
  display:block;
  text-decoration:none;
  moz-border-radius:3px;
  border-radius:3px;
}
#sidemenu ul li.active>a{
  color:white;
}

/*#sidemenu ul li.green{*/
  /*background:url("/n_images/m_g.png") repeat-y;*/
/*}*/

#sidemenu ul li.green.active>a,#sidemenu ul li.green .active>a{
  background-color:#009c73;
}
#sidemenu ul li.green a:hover{
  background-color:#009c73;
  color:white;
}


#sidemenu ul li.orange{
  background:url("/n_images/m_o.png") repeat-y;
}

#sidemenu ul li.orange.active>a,#sidemenu ul li.orange .active>a{
  background-color:#faae4a;
}
#sidemenu ul li.orange a:hover{
  background-color:#faae4a;
  color:white;
}
#sidemenu ul li.purple{
  background:url("/n_images/m_p.png") repeat-y;
}
#sidemenu ul li.purple.active>a,#sidemenu ul li.purple .active>a{
  background-color:#654080;
}
#sidemenu ul li.purple a:hover{
  background-color:#654080;
  color:white;
}

#sidemenu ul li.lightgreen{
  background:url("/n_images/m_lg.png") repeat-y;
}

#sidemenu ul li.lightgreen.active>a,#sidemenu ul li.lightgreen .active>a{
  background-color:#9bc75e;
}
#sidemenu ul li.lightgreen a:hover{
  background-color:#9bc75e;
  color:white;
}

#blog-head-item{
  display:inline-block;
}

#regmenubox ul{
  list-style-type:none;
  margin-left:0px;
  padding-left:0px;
}

#regmenubox ul li a{
  margin-right:20px;  padding:4px;
  color:#828282;
  display:block;
}

#regmenubox ul li {
  overflow:hidden;
  float:left;
}

#regmenubox ul li a.active{
  background-color:#009c73;
  color:white;
  border-radius:3px;
  text-decoration:none;
}
#regmenubox{
  height:40px;
}

#regform{
  
}

#regform input,select{
  width:250px;
  color:#666666;
}

#regform input.spbutton{
  background:none;
  border:none;
  width:140px;
  background-image:url("/n_images/reg_2.png");
  height:40px;
  color:white;
  font-size:18px;
  font-weight:600;
  margin-top:10px;
}

#regform input.spbutton:hover{
  background-image:url("/n_images/reg_.png");
}

#s1{
  background:none;
  border:none;
  width:140px;
  background-image:url("/n_images/reg_2.png");
  height:40px;
  color:white;
  font-size:18px;
  font-weight:600;
  margin-left:30px;
}

#s1:hover{
  background-image:url("/n_images/reg_.png");
}

#loginbox{
  width:210px;
  margin:0 auto;
  margin-top:30px;
}

.loginlabel{
  display:block;
}

.loginline3{
  display:block;
}

.loginline1 input,.loginline2 input{
  width:200px;
}

#success ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

#success ul li{
  margin-top:10px;
  height:140px;
  border-bottom:1px solid #dbdbdb;
}

#success ul li a{
  text-decoration:none;
}

#success .cont_head{
  font-size:17px;
  color:#10a27b;
  text-decoration:underline;
  font-weight:bold;
  margin-bottom:7px;
}

#success .cont_text{
  color:#6f6f6f;
}

.event_page ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.event_page ul li{
  margin-bottom:20px;
}

.event_page ul li a{
  text-decoration:none;
}

.event_page ul li a:hover{
  text-decoration:underline;
}

._select{
  display:block;
  margin-top:10px;
  width:256px;
}

.reg_label{
  margin-top:10px;
  font-style:italic;
}

.reg_label_head{
  font-size:18px;
  color:#009c73;
  margin-top:50px;
}

._reg_first{
  margin-top:30px;
  font-style:italic;
}

.single_line .cont{
  float:left;
}

.single_line .cont select{
  width:150px;
  margin-right:20px;
}

/*documents*/
#doc_box {
  margin-left: -30px;
  width: 510px;
  /*height:230px;*/
  display:block;
  background-color:#e3e9f0;
  margin-top:15px;
  margin-bottom:15px;
}

#doc_box .doc_col {
  padding:10px;
  width:490px;
  border:1px dashed #a0acba;
  text-align:left;
}

#doc_box .doc_col.last {
  /*border:none;*/
}

#doc_box .doc_col .doc_col_header {
  font-size:11px;
  color:black;
  text-align:center;
  display:block;
  height:20px;
}

#doc_box .doc_col {
  color:#999999;
}

#doc_box .doc_col a {
  display:block;
  height:20px;
  width:480px;
  overflow:hidden;
  color:#555555;
  text-decoration:none;
}


#doc_box .doc_col a.short {
  float:left;
  width:390px;
}

#doc_box .doc_col .approve_but {
  overflow:hidden;
  text-align:right;
}

#doc_box .doc_col a.approve_up{
  float:left;
  /*margin-left: 20px;*/
  margin-right: 28px;
  display:block;
  width:26px;
  height:20px;
  background-image:url("/images/appr_up.png");
  background-repeat:no-repeat;
}

#doc_box .doc_col a.approve_down{
  display:block;
  width:20px;
  height:20px;
  background-image:url("/images/appr_down.png");
  background-repeat:no-repeat;
}

#doc_box .doc_col a.approve_back{
  display:block;
  width:20px;
  height:20px;
  background-image:url("/images/appr_back.png");
  background-repeat:no-repeat;
}


#doc_box .doc_col .doc_col_labels {
  width:480px;
  text-align:right;
  height:20px;
}

#doc_box .doc_col .doc_col_lbl {
  float:right;
  overflow:hidden;
  margin-left:15px;
}

.entry_section{
  border: 2px solid #B4B4B4;
  border-radius: 5px 5px 5px 5px;
  display: block;
  padding:15px;
  margin-bottom:15px;
}

.entry_info{
  float:left;
  width:400px;
}

.entry_form{
  overflow:hidden;
  width:150px;
}


.entry_section input{
  width:80px;
  margin-bottom:6px;
}

.entry_section select{
  float:left;
  width:300px;
  margin-right:30px;

}

.entry_section_title{
  margin-bottom:10px;
  border-bottom:1px solid #B4B4B4;
  padding-bottom:3px;
}

.entry_name{
  /*width:240px;*/
  height:20px;
}

.entry_name_label{
  float:left;
  width:100px;
  text-align:right;
  overflow:hidden;
  margin-right:15px;
}

.entry_name_text{
  overflow:hidden;
  width:300px;
}

.entry_item{
  height:60px;
  border-bottom:1px solid #B4B4B4;
}

#comment{
  width:400px;
  height:200px;
}

.formrow .name{
  width:300px;
}
.formrow select{
  width:305px;
}

.formrow {
  margin-top:10px;
}

.emprow {
  height:30px;
  margin-top:5px;
  border-bottom:1px solid black;
}

.emp {
  width:310px;
  float:left;
  padding-top: 5px;
  font-size:10px;
}

.emp .empname {
  overflow:hidden;
  width:150px;
  float:left;
  padding-left:5px;
}

.emp .empemail {
  width:150px;
  overflow:hidden;
  padding-left:5px;
}

#removeemp{
  margin-bottom:30px;
}

#infolabel {
  margin-top:10px;
}
.deletebutton {
  display:block;
  width:115px;
  overflow:hidden;
}

.delleft {
  float:left;
  width:100px;
}

.deletebutton a {
  display:block;
  width:95px;
  margin-left:15px;
  border:none;
  height:16px;
  text-align:center;
  padding-top:2px;
  color:black;
  margin-top:3px;

}

.deletebutton input{
  width:100px;
  border:none;
  margin-top:3px;
  background:none;
  text-decoration:underline;
}
  
#addemp {
  margin-top:10px;
  margin-left:5px;
}
.addinput input{
  width:300px;
}

#contimgbig img{
  max-width:200px;
}

#header2 a{
  display:block;
  height:150px;
  width:300px;
}

.frame_wrap iframe{
  border:none;
  min-height:1000px;
  width:100%;
  overflow:hidden;
}

.emp_row .emp_code{
  float:left;
  width:60px;
}

.emp_row .emp_name{
  overflow:hidden;
}


#main_prof_pic{
  max-width:400px;
  max-height:400px;
  margin-top:20px;
}

.redir_msg{
  font-size:16px;
  margin-top:150px;
}
.spbutton_wrap .spbutton{
  background:none;
  border:none;
  width:140px;
  background-image:url("/n_images/reg_2.png");
  height:40px;
  color:white;
  margin-top:10px;
  font-size:12px;
}

.correction_link.hidden{
  display:none;
}
