html{
    width: 100%;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
ul, li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
    margin: 0;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
.flex {
    display: flex;
    display: -webkit-flex;
}
.main_info {
    padding-top: 4vw;
    padding-bottom: 2vw;
    width: 60%;
    margin: auto;
}
.main_info p {
    margin: 0;
    font-size: 0.9vw;
    font-family: "Poppins", sans-serif;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: justify;
    margin-bottom: 2vw;
}
#quote{
    height: 28vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../img/1.jpg);
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.quote{
    position: relative;
    width: 33vw;
    left: 20%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    height: fit-content;
}
.quote p{
    margin: 0;
    font-size: 0.9vw;
    font-family: "Poppins", sans-serif;
    color: rgb(255,255,255);
    line-height: 1.5vw;
    text-align: justify;
    margin-bottom: 1vw;
}
.quote span{
    font-size: 0.8vw;
}
.quote h2{
    margin: 0;
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
}
.green-border-1{
    position: absolute;
    border-left: 1.5vw solid #2cc654;
    height: 100%;
    left: -3vw;
    top: 0;
}
.green-border-2{
    position: absolute;
    border-top: 1.5vw solid #2cc654;
    top: -1vw;
    width: 25%;
    left: -3vw;
}
.green-border-3{
    position: absolute;
    border-bottom: 1.5vw solid #2cc654;
    width: 50%;
    left: -3vw;
    bottom: 0;
}
.el{
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    display:none
}
.el img{
    width: 100%;
}

#main-button-on-top:hover {
    color: #2cc654;
    background-color: rgba(35,192,76,0.2);
    border: 1px solid rgba(35,192,76,0.2);
}

#main-button-on-top{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 1vw;
    padding: 0.5vw 2vw;
    margin: 1vw;
    margin-left: 0;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}


.capture-top{
    margin-left: 14vw !important;
}
.capture-top h2{
    line-height: 1.1 !important;
}
#slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    z-index: 1;
    opacity: 0;
    background-size: cover;
    background-position: center center;
}
.slide .bck{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgba(0,0,0,0.8);
}
.slide:nth-child(1){
    display: block;

    z-index: 2;
    opacity: 1;
}
.slide h2 {
    position: absolute;
    bottom: calc(60px + 5vw);
    padding: 0 10%;
    z-index: 1;
}
#sliderControlls {
    position: absolute;
    z-index: 10;
    bottom: calc(30px + 3vw);
    left: 0;
    height: 30px;
    width: 100%;
}
.dots {
    margin: auto;
    justify-content: center;
    -webkit-justify-content: center;
    cursor: pointer;
}
.dot {
    border-radius: 50%;
    height: calc(8px + 0.5vw);
    width: calc(8px + 0.5vw);
    margin: 0 calc(10px + 0.5vw);
    background-color: rgba(255,255,255,1);
    opacity: 0.5;

}
@media screen and (max-width: 900px){
    .slide h2 {
        margin-bottom: 200px;
    }

    .capture-top {
        position: absolute !important;
        width: 77% !important;
        left: 0 !important;
        right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
        top: 50vw;
    }
    .capture-top h2 {
        text-align: center !important;
        font-size: 5vw !important;
        line-height: 1.3 !important;
        padding-bottom: 3vw !important;
    }
    .capture-top p {
        font-size: 3.2vw !important;
        line-height: 1.2 !important;
        text-align: justify !important;
    }


    #main-button-on-top {
        font-size: 3.5vw;
        padding: 1vw 3vw;
        margin-top: 10vw;
    }
    .main_info p {
        margin: 0;
        font-size: 3vw;
        font-family: "Poppins", sans-serif;
        color: rgb(0,0,0);
        line-height: 1.3;
        text-align: justify;
        margin-bottom: 2vw;
    }
    .main_info {
        padding-top: 8vw;
        padding-bottom: 8vw;
        width: 80%;
        margin: auto;
    }
    #quote {
        height: 100vw;
        background-size: cover;
        background-image: url(../img/quote.jpg);
        background-position: 80%;
    }
    .quote {
        width: 80%;
        left: unset;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin: auto;
        text-align: center;
    }
    .quote p {
        font-size: 3vw;
        line-height: 1.5;
        margin-bottom: 5vw;
    }
    .quote span{
        text-align: center !important;
        font-size: 3.5vw
    }
    .quote h2 {
        font-size: 5vw;
    }
    .green-border-1, .el {
        display: none;
    }
    .green-border-2, .green-border-3{
        left: -10vw;
    }
    .green-border-2{
        border-top: 3vw solid #2cc654;
    }
    .green-border-3{
        border-bottom: 3vw solid #2cc654;

    }
    .quote-p{
        text-align: center !important;
    }

    #top-bt {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #top-bt p {
        width: 70% !important;
        margin: 1vw;
        text-align: center;
    }
    #top-bt p span {
        font-size: 3vw !important;
    }
}
